<template>
	<view class="pages">
		<view class="u-flex titleBox">
			<view class="title">账户余额</view>
			<view class="f1"></view>
			<view @click="_href('/pages/center/balanceRecord/balanceRecord')">查看明细</view>
			 <u-icon name="arrow-right" color="#666" size="28"></u-icon>
		</view>
	 	<view class="panel panel1">
			<view class="title">2000.000</view>
			<view >账户余额</view>
			<view class="btns"  @click="_href('/pages/center/deposit/deposit')">余额提现</view>
		</view>
		<view class="u-flex titleBox">
			<view class="title">押金余额</view>
			<view class="f1"></view>
			<view @click="_href('/pages/center/balanceRecord/balanceRecord')">查看明细</view>
			 <u-icon name="arrow-right" color="#666" size="28"></u-icon>
		</view>
		<view class="panel panel2" >
			<view class="title">2000.000</view>
			<view >押金余额</view>
			<view class="btns" @click="_href('/pages/center/deposit/deposit')">押金退款</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="scss" scoped>
	.pages{
		padding: 30rpx;
		.titleBox{
			margin-bottom:28rpx ;
			.title{
				font-size: 32rpx;
				font-weight: bolder;
			}
		}
		.panel{
			width: 100%;
			height: 218rpx;
			background-size: cover;
			color: #fff;
			position: relative;
			padding-left: 40rpx;
			margin-bottom: 60rpx;
			.title{
				font-size: 48rpx;
				padding-top:54rpx ;
				margin-bottom: 6rpx;
				font-weight: bolder;
			}
			.btns{
				width: 168rpx;
				height: 54rpx;
				line-height: 54rpx;
				border: 1rpx solid #fff;
				color: #fff;
				border-radius: 27rpx;
				text-align: center;
				position: absolute;
				right:40rpx ;
				top: 50%;
				margin-top: -27rpx;
			}
		}
		.panel1{
			background-image: url(../../../static/images/qb_ye.png);
		}
		.panel2{
			background-image: url(../../../static/images/qb_yj.png);
		}
	}
</style>	
