<template>
	<view class="pages ">
		<view class="header">

			<RentingTime customstyle="background:#fff" :rentTime="rentTime" :rentDate="rentDate" />
		</view>

		<view class="filterBox ">
			<u-dropdown active-color="#EE7F48" ref="uDropdown">
				<u-dropdown-item v-model="form.car_sort_type" title="排序" @change="sort" :options="options">
				</u-dropdown-item>
				<u-dropdown-item title="车辆品牌">
					<view class="slot-content" style="background-color: #FFFFFF;">
						<scroll-view scroll-y="true" style="height: 748rpx;">
							<view class=" carBrandBar">
								<view v-for="(item,index) in GlobalSet.brand_tree" :key="index">
									<view class="carMark">{{item.label}}</view>
									<view class="u-flex">
										<view class=" carBrand u-flex" :class="form.brand_code==it.value?'active':''"
											@click="choose(it,'brand_code')" v-for="(it,ind) in item.child" :key="ind">
											<image :src="it.img" mode="scaleToFill" class="icons"> </image>
											<view class="grid-text">{{it.label}}</view>
										</view>
										<view class="f1"></view>
									</view>

								</view>
							</view>
						</scroll-view>
						<view class="footer u-flex">
							<view class="f1 btns" @click="reset">重置</view>
							<!-- <u-button class="f1" type="primary" @click="closeDropdown">保存</u-button> -->
							<view class="f1 btns sure" @click="save">保存</view>
						</view>
					</view>
				</u-dropdown-item>
				<u-dropdown-item title="筛选">
					<view class="slot-content" style="background-color: #FFFFFF;">
						<scroll-view scroll-y="true" style="height: 748rpx;">
							<view class="filteritems">
								<view class="cm_title">座位</view>
								<view class="u-flex carBrandBar">
									<view class="carBrand u-flex" :class="form.car_seat==item.value?'active':''"
										@click="choose(item,'car_seat')" v-for="(item,index) in GlobalSet.car_seat"
										:key="item.value">
										<view class="grid-text">{{item.text}}</view>
									</view>
									<view class="f1"></view>
								</view>
							</view>

							<view class="filteritems">
								<view class="cm_title">能源类型</view>
								<view class="u-flex carBrandBar">
									<view class=" carBrand u-flex" :class="form.car_energy==item.value?'active':''"
										@click="choose(item,'car_energy')" v-for="(item,index) in GlobalSet.car_energy"
										:key="item.value">
										<view class="grid-text">{{item.text}}</view>
									</view>

									<view class="f1"></view>
								</view>
							</view>
							<view class="filteritems">
								<view class="cm_title">档位</view>
								<view class="u-flex carBrandBar">
									<view class=" carBrand u-flex" :class="form.car_gears==item.value?'active':''"
										@click="choose(item,'car_gears')" v-for="(item,index) in GlobalSet.car_gears"
										:key="item.value">
										<view class="grid-text">{{item.text}}</view>
									</view>

									<view class="f1"></view>
								</view>
							</view>
							<view class="filteritems">
								<view class="cm_title">动力</view>
								<view class="u-flex carBrandBar">
									<view class=" carBrand u-flex" :class="form.car_vehicle==item.value?'active':''"
										@click="choose(item,'car_vehicle')"
										v-for="(item,index) in GlobalSet.car_vehicle" :key="item.value">
										<view class="grid-text">{{item.text}}</view>
									</view>
									<view class="f1"></view>
								</view>
							</view>
						</scroll-view>
						<view class="footer">
							共<text style="color: #EE7F48;">{{total}}</text>车型可选
						</view>
						<view class="footer u-flex">
							<view class="f1 btns" @click="reset">重置</view>
							<!-- <u-button class="f1" type="primary" @click="closeDropdown">保存</u-button> -->
							<view class="f1 btns sure" @click="save">保存</view>
						</view>
					</view>
				</u-dropdown-item>
			</u-dropdown>

		</view>
		<view class=" carPanel u-flex">
			<view class="left">

				<view class="leftItems " :class="!form.car_type?'active':''" @click="tab('')">全部</view>
				<view class="leftItems" :class="form.car_type==item.value?'active':''" @click="tab(item )"
					v-for="(item,index) in GlobalSet.car_type" :key="item.value">{{item.text}}</view>

			</view>
			<view class="right f1">
				<scroll-view class="content" scroll-y="true" @scrolltolower="loadMore">
					<block v-for="(item,index) in carlist" :key="item.value">
						<CarItems :item="item" :from="from"/>
					</block>

					<u-loadmore :status="loadStatus" />
				</scroll-view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	import CarItems from '@/components/CarItems.vue'
	const GlobalSet = uni.getStorageSync('GlobalSet');
	import RentingTime from '@/components/RentingTime.vue'
	export default {
		data() {
			return {
				carlist: [],
				form: {
					pageIndex: 1,
					pageSize: 15,
					"brand_code": "", //车辆品牌
					"car_seat": "", //座位
					"car_gears": "", //档位
					"car_energy": "", //能源
					"car_vehicle": "", // 动力
					"car_type": "",
					"car_sort_type": "0",
					"sort": ""
				},
				value1: 1,
				value2: 2,
				loadStatus: 'loadMore',
				GlobalSet: GlobalSet,
				total:0,
				from:''
			};
		},
		

		computed: {
			...mapState({
				// 箭头函数使代码更简练 			
				rentTime: state => state.rent.rentTime,
				rentDate: state => state.rent.rentDate,
			}),
			options() {
				return GlobalSet.car_sort_type.map(item => {
					return {
						label: item.text,
						value: item.value
					}
				})
			}
		},
		components: {
			CarItems,
			RentingTime
		},
		onLoad(options) {
			this.loadData('refresh')
			this.from = options.from || ''
		},
		methods: {
			reset(){
				this.form = {
					pageIndex: 1,
					pageSize: 15,
					"brand_code": "", //车辆品牌
					"car_seat": "", //座位
					"car_gears": "", //档位
					"car_energy": "", //能源
					"car_vehicle": "", // 动力
					"car_type": "",
					"car_sort_type": "0",
					"sort": ""
				} 
			},
			save(){
				this.loadData('refresh')
				this.$refs.uDropdown.close();
			},
			sort(e) {
				// console.log(e)
				if (this.form['car_sort_type'] != e) {
					debugger
					this.form['car_sort_type'] = e
					this.loadData('refresh')
				}
			},
			choose(item, pro) {
				// debugger
				if (this.form[pro] === item.value) {
					this.form[pro] = ''
				} else {
					this.form[pro] = item.value
				}

			},
			tab(item) {
				if (!item) {
					this.form['car_type'] = ''
					return
				}
				if (this.form['car_type'] != item.value) {
					this.form['car_type'] = item.value
					this.loadData('refresh')
				}
			},
			async loadData(type) {
				try {
					let res = await this.$api.Business.GetCarList(this.form);
					console.log(res)
					let that = this
					// this.carlist = res.rows
					this.total = res.total
					
					if (type == 'add') {
						// 加载更多v
							that.carlist = that.carlist.concat(res.rows);
							if (res.rows.length < that.form.pageSize) {
								that.loadStatus = 'noMore';
								// 没有数据了
							} else {
								that.loadStatus = 'more';
							}
					} else {
						// 刷新v
							that.carlist = res.rows;
							if (res.rows.length < that.form.pageSize) {
								that.loadStatus = 'noMore';
								// 没有数据了
							} else {
								that.loadStatus = 'more';
							} 
						// that.refreshing = false
					}
					
				} catch (e) {
					//TODO handle the exception
				}
			},
			loadMore(){
				if (this.loadStatus == 'noMore') {
					return;
				}
				this.form.pageIndex += 1;
				this.loadStatus = 'loading';
				this.loadData('add');
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		background-color: #fff;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.header {
			width: 100%;
			padding: 20rpx;

			.result {
				background-color: #f8f8f8;
				padding: 20rpx;
				border-radius: 12rpx;
				text-align: center;
				width: 100%;

				.cm_title {
					line-height: 2;
				}

				.line {
					width: 70%;
					height: 1rpx;
					background-color: #b4b4b4;

					margin: 0 auto;
					margin-top: 20rpx;
					box-sizing: border-box;
				}
			}

		}

		.filterBox {
			width: 100%;

			.carBrandBar {
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 0 20rpx;

				.carBrand {
					width: 214rpx;
					text-align: center;
					// padding: 20rpx;
					height: 72rpx;
					line-height: 72rpx;
					border-radius: 8rpx;
					background-color: #F4F5F6;
					margin-bottom: 16rpx;
					margin-left: 10rpx;
					margin-right: 10rpx;

					.icons {
						width: 40rpx;
						height: 40rpx;
						margin-right: 16rpx;
					}
				}

				.active {
					background: #EE7F48 !important;
					color: #fff;
				}
			}

			.filteritems {
				.cm_title {
					line-height: 2;
					padding-left: 30rpx;
					margin-bottom: 20rpx;
				}
			}

			.footer {
				height: 98rpx;
				width: 100%;
				line-height: 98rpx;
				text-align: center;

				.btns {
					height: 98rpx;
					line-height: 98rpx;
					text-align: center;
					background-color: #f8f8f8;
				}

				.sure {
					background: #EE7F48 !important;
					color: #fff;
				}
			}
		}

		.carPanel {
			width: 100%;
			border-top: 1rpx solid #f8f8f8;
			// background: red; 
			position: absolute;
			left: 0;
			top: 276rpx;
			bottom: 0;

			.left {
				width: 188rpx;
				height: 100%;

				.leftItems {
					height: 98rpx;
					line-height: 98rpx;
					text-align: center;
					border-bottom: 1rpx solid #f8f8f8;
				}

				.active {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 12rpx;
						height: 100%;
						background-color: #EE7F48;
					}
				}
			}

			.right {
				height: 100%;
				background: #f8f8f8;
				padding: 16rpx;

				.content {
					overflow-y: scroll;
					width: 100%;
					height: 100%;
				}
			}
		}

		.carMark {
			line-height: 80rpx;
		}
	}
</style>
