<template>
	<view class="pages">
		<view class=" boxs">
			
			<view class="cm_form" v-if="form.atte_type==0">
				<view class="flex cm_form_cells ">
					<text class="label  ">真实姓名</text>
					<input class="  f1 cm_inputs" placeholder="请输入真实姓名" v-model="form.consumer_name"> </input>
				</view>
				<view class="flex cm_form_cells ">
					<text class="label ">身份证号码</text>
					<input class="f1 cm_inputs" type="text" placeholder="请输入身份证号码" clearable
						v-model="form.id_card" />
				</view>
				<view class="flex cm_form_cells " @click="()=>{this.timeshow=true}">
					<text class="label ">身份到期</text>
					<view class="f1">{{form.end_card_time|| '请选择到期时间'}}</view>
				</view>
			</view>
			<view class="cm_form" v-if="form.atte_type==2 || form.atte_type==1">
				<view class="flex cm_form_cells ">
					<text class="label  ">紧急联系人</text>
					<input class="  f1 cm_inputs" placeholder="请输入联系人姓名" v-model="form.urgent_name"> </input>
				</view>
				<view class="flex cm_form_cells ">
					<text class="label ">联系电话</text>
					<input class="f1 cm_inputs" type="number" placeholder="请输入联系电话" clearable
						v-model="form.urgent_mobile" />
				</view> 
			</view>
		</view>
		<u-picker mode="time" v-model="timeshow" @confirm="confirmDate" :params="params"></u-picker>
		<view class=" cm_boxs" v-if="form.atte_type!=2">
			
			<view class="cm_title" v-if="form.atte_type==0">
				身份证图片
			</view>
			<view class="cm_title" v-if="form.atte_type==1">
				驾驶证图片
			</view>
			<view class="u-flex" v-if="form.atte_type==0">
				<view class="f1 u-flex-y" @click="uploadCard('id_card_z')">
					<image v-if="form.id_card_z" :src="form.id_card_z" mode="aspectFill" class="idCarBox"></image>
					<image v-else src="../../../static/images/sf_zm@1x.png"  mode="aspectFill" class="idCarBox"></image>
					<text>身份证正面</text>
				</view>
				<view class="f1 u-flex-y" @click="uploadCard('id_card_f')">
					<image v-if="form.id_card_f" :src="form.id_card_f" mode="aspectFill" class="idCarBox"></image>
					<image v-else src="../../../static/images/sf_fm@1x.png"  mode="aspectFill" class="idCarBox"></image>
					<text>身份证反面</text>
				</view>
			</view>
			<view class="u-flex"  v-if="form.atte_type==1">
				<view class="f1 u-flex-y" @click="uploadCard('driving_z')">
					<image v-if="form.driving_z" :src="form.driving_z" mode="aspectFill" class="idCarBox"></image>
					<image v-else src="../../../static/images/sf_zm@1x.png"  mode="aspectFill" class="idCarBox"></image>
					<text>驾驶证正面</text>
				</view>
				<view class="f1 u-flex-y" @click="uploadCard('driving_f')">
					<image v-if="form.driving_f" :src="form.driving_f" mode="aspectFill" class="idCarBox"></image>
					<image v-else src="../../../static/images/sf_fm@1x.png"  mode="aspectFill" class="idCarBox"></image>
					<text>驾驶证反面</text>
				</view>
			</view>
			<view class="cm_title" style="margin-top: 40rpx;"  >
				拍摄要求
			</view>
			<view class="u-flex" >
				<view class="f1 u-flex-y">
					<image src="../../../static/images/sf_bz.png" mode="aspectFill" class="smallBox"></image>
					<view class="u-flex">
						<u-icon name="checkmark" color="#999" size="24"></u-icon>
						<text class="cm_time">标准拍摄</text>
					</view>
				</view>
				<view class="f1 u-flex-y">
					<image src="../../../static/images/sf_bk.png" mode="aspectFill" class="smallBox"></image>
					<view class="u-flex">
						<u-icon name="close" color="#999" size="24"></u-icon>
						<text class="cm_time">边框缺失</text>
					</view>
				</view>
				<view class="f1 u-flex-y">
					<image src="../../../static/images/sf_mh.png" mode="aspectFill" class="smallBox"></image>
					<view class="u-flex">
						<u-icon name="close" color="#999" size="24"></u-icon>
						<text class="cm_time">照片模糊</text>
					</view>
				</view>
				<view class="f1 u-flex-y">
					<image src="../../../static/images/sf_sg.png" mode="aspectFill" class="smallBox"></image>
					<view class="u-flex">
						<u-icon name="close" color="#999" size="24"></u-icon>
						<text class="cm_time">闪光强烈</text>
					</view>
				</view>
			</view>
		</view>
		<view style="padding:  40rpx;">
			<u-button shape="circle" @click="submit" :custom-style="{marginTop:'32rpx'}" type="primary">提交</u-button>
		</view>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />

		<!-- <u-mask :show="show" @click="show = false">
			<view class="warp">
				<view class="rect u-flex-y" @click.stop>
					<view class="cm_title">{{currentMsg.title}}</view>
					<view class="cm_time" style="font-size: 24rpx;">{{currentMsg.content}}</view>
					<input placeholder="请输入内容" v-model="currentVuale" type="text" class="InputBox" :border="false" />
					<u-button shape="circle" :custom-style="{width:'100%'}" @click="submit" size="medium"
						type="primary">立即修改</u-button>
					<view class="cm_time" style="font-size: 24rpx;">{{currentMsg.mark}}</view>
				</view>
			</view>
		</u-mask> -->

	</view>
</template>

<script>
	export default {
		data() {
			return {
				src: 'https://cdn.uviewui.com/uview/swiper/3.jpg',
				show: false,
				timeshow:false,
				value: '',
				checked: false,
				form: {
					"atte_type": "0", //认证类型0-身份证认证 1-驾照认证 2-设置紧急联系人
					"consumer_name": "", //真实姓名 0-身份认证
					"id_card": "", //身份证号 0-身份认证
					"end_card_time": "", //身份证到期 0-身份认证
					"id_card_z": "", //身份证正面 0-身份认证
					"id_card_f": "", //身份证反面 0-身份认证
					"driving_z": "", //驾照正面 1-驾照认证
					"driving_f": "", //驾照反面 1-驾照认证
					"urgent_mobile": "", //紧急联系电话 2-设置紧急联系人
					"urgent_name": "", //紧急联系人 2-设置紧急联系人
				},
				params: {
					year: true,
					month: true,
					day: true,
					hour: false,
					minute: false,
					second: false
				},
				currentMsg: {
					title: '修改微信号',
					content: '请填写正确微信号',
					mark: '可在设置里修改微信号'
				},
				current: 0,
				currentVuale: '',
				myAccount: 0
			};
		},
		onLoad(options) {
				this.form.atte_type =  options.type
				uni.setNavigationBarTitle({
					title: options.type==2?'紧急联系人':options.type==1?'驾驶证认证':'身份证认证'
				})
				
				this.form.consumer_name =  this.userInfo.consumer_name
				this.form.id_card = this.userInfo.id_card
				this.form.end_card_time =  this.userInfo.end_card_time
				this.form.id_card_f = this.userInfo.id_card_f
				this.form.id_card_z = this.userInfo.id_card_z 
				this.form.driving_f = this.userInfo.driving_f
				this.form.driving_z = this.userInfo.driving_z
				this.form.urgent_mobile = this.userInfo.urgent_mobile
				this.form.urgent_name = this.userInfo.urgent_name
		},
		methods: {
			// 上传身份证
			uploadCard(pro){
				let that = this
				uni.chooseImage({
					count: 1, //默认9
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					// sourceType: ['album'], //从相册选择
					success: function(res) {
						// console.log(JSON.stringify(res.tempFilePaths));
						that._upload(res.tempFilePaths)
							.then((src) => {
								// debugger
								that.form[pro] = src 
							})
							.catch(err => {
								that.$refs.uToast.show({
									title: '上传失败' + err,
									type: 'error',
									position: 'bottom'
								})
							})
					}
				})	
			},
			confirmDate(e){
				// debugger
				this.form.end_card_time = `${e.year}-${e.month}-${e.day}`
			},
			_change(e) {
				// console.log(e)
				uni.setStorageSync('onlyWifi', e)
			},
			 // 确认选择
			async submit() {
				let that = this;
				if(this.form.car_type==0){
					if (!this.form.consumer_name) {
						this.$refs.uToast.show({
							title: '请输入真实姓名',
							type: 'error',
							position: 'bottom'
						})
						return;
					}
					if (!this.form.id_card  ) {
						this.$refs.uToast.show({
							title: '请输入身份证号码',
							type: 'error',
							position: 'bottom'
						})
						return;
					}
					if (!this.form.end_card_time  ) {
						this.$refs.uToast.show({
							title: '请选择过期时间',
							type: 'error',
							position: 'bottom'
						})
						return;
					}
					if (!this.form.id_card_z ||!this.form.id_card_f   ) {
						this.$refs.uToast.show({
							title: '请上传身份证正反面',
							type: 'error',
							position: 'bottom'
						})
						return;
					}	
				}else if(this.form.atte_type==1){
		 
					if (!this.form.driving_z ||!this.form.driving_f   ) {
						this.$refs.uToast.show({
							title: '请上传驾驶证正反面',
							type: 'error',
							position: 'bottom'
						})
						return;
					}
				}else{
					if (!this.form.urgent_name) {
						this.$refs.uToast.show({
							title: '请输入紧急联系人',
							type: 'error',
							position: 'bottom'
						})
						return;
					}
					if (!this.form.urgent_mobile  ) {
						this.$refs.uToast.show({
							title: '请输入联系人电话',
							type: 'error',
							position: 'bottom'
						})
						return;
					}
				}
				
				
				// debugger
				try{ 
					that.$ui.showloading()
					let res = await this.$api.Auth.CarMyManage(this.form);
					that.$ui.hideloading()
					that.$store.dispatch('app/refreshUser')
					that.$refs.uToast.show({
						title: '提交成功',
						type: 'success',
						position: 'bottom',
						back:true
					})
					
				}catch(e){
					//TODO handle the exception
				}
			},
			async updatedUser(obj) {
				let that = this
				let data = Object.assign(this.defaultForm, obj)
				try {
					that.$ui.showloading()
					let res = await this.$api.PerfectInfo(data);
					that.$ui.hideloading()
					if (res.Success) {
						// throw new Error('res.Msg')
						that.$refs.uTips.show({
							title: '更新成功',
							type: 'success'
						})
						that.$store.dispatch('refreshUser')
					} else {
						throw new Error(res.Msg)
					}
				} catch (err) {
					// console.log(err)
					that.$refs.uTips.show({
						title: err,
						type: 'error'
					})

				}
				// debugger
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		overflow: hidden;

		.boxs {
			margin-top: 20rpx;
			background: #fff;
			padding: 0 20rpx;
		}

		.cm_boxs {
			margin-top: 20rpx;
		}

		.warp {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			width: 100vw;
		}


		.idCarBox {
			width: 338rpx;
			height: 228rpx;

			margin-bottom: 10rpx;
		}

		.smallBox {
			width: 162rpx;
			height: 106rpx;
			margin-bottom: 10rpx;
		}

		.rect {
			width: 460rpx;
			height: 460rpx;
			background-color: #fff;
			border-radius: 14rpx;
			padding: 40rpx;

			.InputBox {
				width: 100%;
				height: 72rpx;
				margin: 48rpx 0;
				background-color: #f4f4f4;
				border-radius: 12rpx;
				padding: 0 20rpx;
			}

			.cm_time {
				margin-top: 20rpx;
			}
		}
	}
</style>
