<script>
	import SET from '@/SET.js';
	import Utils from '@/common/utils.js';

	import Vue from 'vue'
	import {
		mapState,
		mapMutations
	} from 'vuex';
	export default {
		data() {
			return {
				wxConfig: '',
				ifWxLogin: false //wx是微信登录 ，mm密码登录
			};
		},
		//#ifdef H5
		// mixins: [pageAnimation],
		// #endif
		onLaunch: function() {
			const token = uni.getStorageSync(SET.tokenName);
			const opid = uni.getStorageSync(SET.opIdName);
			let that = this;
			uni.getLocation({
				type: 'wgs84',
				success: function(res) {
					console.log(res)
					that.$store.commit('rent/saveLocation',{longitude: res.longitude, latitude: res.latitude})
					
					that.$store.dispatch('rent/getCitys', {
						longitude: res.longitude,
						latitude: res.latitude
					})
					// that.$store.dispatch('rent/getServeSite', {
					// 	longitude: res.longitude,
					// 	latitude: res.latitude,
					// 	Key: ''
					// })
				},
				fail: function() {
					that.$store.dispatch('rent/getCitys')
				}
			});
			if (opid) {
				let form = {
					"open_id": opid,
					"wx_code_type": 1, //0-公众号 1-小程序(不传默认为0)
				}
				this._autoLogin(form)
			}
		},
		onShow: function() {

		},
		onHide: function() {
			console.log('App Hide')
		},
		methods: {
			// openid登录
			async _autoLogin(data) {
				let that = this;

				try {
					this.$ui.showloading()
					let res = await this.$api.Auth.WxTokenLogin(data, false);
					// debugger
					uni.setStorageSync(SET.tokenName, res)
					// 有效token，直接登录
					that.$store.commit('app/userLogin')
					that.$store.dispatch('app/refreshUser')
					this.$ui.hideloading()
					// this.$ui.toast('登陆成功')
					// that.$refs.uToast.show({
					// 	title: '登陆成功',
					// 	type: 'success',
					// 	position: 'bottom',
					// 	back: true
					// })
				} catch (err) {
					// debugger
					this.$ui.hideloading()
					// console.log('请求结果false : ' + err);
					// this.$ui.toast(res.Msg)
					// this.$refs.userBox.showModal();
				}
			},

		}
	}
</script>

<style lang="scss">
	@import "uview-ui/index.scss";
	@import  "common/animate.css";
	/*每个页面公共css */

	.pages {
		width: 100vw;
		min-height: 100vh;
		background-color: #f4f4f4;
	}

	view,
	text {
		font-size: 28rpx;
	}

	.hover {
		background-color: #f7f7f7;
		transform: translate(-1rpx, -1rpx);
	}

	.cm_action {
		width: 48rpx;
		height: 48rpx;
	}

	.cm_hover_m {
		transform: translate(-1rpx, -1rpx);
	}

	.hover_eee {
		background-color: #ccc;
	}

	.cm_boxs {
		background-color: #fff;
		margin-bottom: 16rpx;
		padding: 32rpx 30rpx;
	}

	.cm_title {
		color: #333;
		font-weight: bolder;
		font-size: 30rpx;
		margin-bottom: 24rpx;
	}

	.cm_text {
		color: #999;
		font-size: 26rpx;
		line-height: 1;
	}

	.cm_time {
		color: #999;
		font-size: 24rpx;
		line-height: 1;
	}

	.cm_full {
		width: 100vw;
		height: 80vh;
	}

	.cm_ellipsis {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.cm_ellipsis2 {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.contain {
		width: 100%;
		height: auto;
	}

	.cm_bdb {
		position: relative;
	}

	.cm_bdb::before {
		content: '';
		width: 100%;
		height: 1rpx;
		background: #f1f1f1;
		transform: scaleY(.5);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.cm_price {
		color: #FA3534;
		font-size: 36rpx;
		font-weight: 600;

	}

	.cm_price_tip {
		color: #EE7F48;
		font-size: 44rpx;
		font-weight: 400;
		position: relative;
		text-indent: 30rpx;
	}

	.cm_price_tip::before {
		content: '￥';
		position: absolute;
		left: -28rpx;
		bottom: 2rpx;
		color: #EE7F48;
		font-size: 28rpx;
	}

	.cm_price_delete {
		color: #999;
		/* font-size: 28upx; */
		text-decoration: line-through;
	}
	.u-flex,
	.flex {
		display: -webkit-flex;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.u-flex-y,
	.flex-y {
		display: -webkit-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.f1 {
		flex: 1;
	}

	.f2 {
		flex: 2;
	}


	.cm_tags {
		border-radius: 40rpx;
		border: 1rpx solid #f1f1f1;
	}

	.saveBottom {
		padding-bottom: constant(safe-area-inset-bottom);
		padding-bottom: env(safe-area-inset-bottom);

	}

	.cm_bg {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 0;
	}

	.cm_block {
		width: 100%;
		display: block;
	}


	// 表单cells
	.cm_form {
		.cm_form_cells {
			height: 108rpx;
			line-height: 108rpx;
			border-bottom: 1rpx solid #f4f4f4;

			.label {
				width: 184rpx;
			}

			.cm_inputs {
				// border-bottom: 1rpx solid #f4f4f4;
			}
		}

	}

	.cm_icons {
		width: 80rpx;
		height: 80rpx;
		border-radius: 50%;
		margin-right: 20rpx;
		background-color: #f8f8f8;
	}
	.cm_loadmore {
		padding:40rpx 20rpx;
	}
</style>
