<template>
	<view class="pages">
		<view class="cm_boxs" style="margin-top: -10rpx;">
			<view class="carItems u-flex" @click="chooseCar">
				<image :src="rentCar.car_main_img" class="pics" mode="aspectFill"></image>
				<view class="f1">
					<view class="title">{{rentCar.car_name}}</view>
					<view class="cm_text">{{rentCar.describe}}</view>
				</view>
				<u-icon name="arrow-right" color="#666" size="28"></u-icon>
			</view>
			<view class="grayBoxs">
				<view class="u-flex" @click="locationPicker('rent/selectStartAddress')">
					<text class="labels">取车地点</text>
					<view class="f1">
						{{rentStartAddress.site_address || '请选择'}}
					</view>
					<u-icon name="arrow-right" color="#666" size="28"></u-icon>
				</view>
				<view style="width: 100%;height: 40rpx;"> </view>
				<view class="u-flex" @click="locationPicker('rent/selectEndAddress')">
					<text class="labels">还车地点</text>
					<view class="f1">
						{{rentEndAddress.site_address || '请选择'}}
					</view>
					<u-icon name="arrow-right" color="#666" size="28"></u-icon>
				</view>
				<view style="width: 100%;height: 40rpx;"> </view>
				<view class="u-flex" @click="rentDatePicker">
					<text class="labels">用车时间</text>
					<view class="f1">
						{{rentDate[0]?rentDate[0].text:'--'}}--{{rentDate[1]?rentDate[1].text:'--'}}（{{rangDays}}）
					</view>
					<u-icon name="arrow-right" color="#666" size="28"></u-icon>
				</view>
			</view>
		</view>

		<view class="cm_boxs">

			<view class="cm_title">车辆押金</view>

			<view class="u-flex">
				<view class="wayBoxs u-flex-y " :class="{'active':payParams.order_type==0}" @click="switchType">
					<image src="../../../static/images/xq_zmxy.png" mode="aspectFill" class="icons"></image>
					<image src="../../../static/images/xq_gx.png" mode="aspectFill" class="icons activeIcons"></image>
					<text class="cm_time">芝麻信用免押金</text>
				</view>
				<view class="wayBoxs u-flex-y" :class="{'active':payParams.order_type==1}" @click="switchType">
					<image src="../../../static/images/xq_zx.png" mode="aspectFill" class="icons"></image>
					<image src="../../../static/images/xq_gx.png" mode="aspectFill" class="icons activeIcons"></image>
					<text class="cm_time">在线支付</text>
				</view>
				<view class="f1"></view>
			</view>
		</view>

		<view class="cm_boxs" v-if="autoRentStartAddress && autoRentStartAddress.area_detail" @click="open">
			<view class="rows u-flex  ">
				<view class="label" style="color: #EE7F48;width: 136rpx;">一键取车</view>
				<!-- <view ></view> -->
				<view class="f1" style="text-align: left;line-height: 1.2;">{{autoRentStartAddress.area_detail}}</view>
				<u-icon name="arrow-right" color="#EE7F48" size="28"></u-icon>
			</view>
		</view>
		<view class="cm_boxs" @click="chooseRentUser" style="padding-top: 0;">
			<view class="rows u-flex  "  >
				<view class="label" style="color: #EE7F48;">选择承租人</view>
				<view class="f1"></view>
				<u-icon name="arrow-right" color="#EE7F48" size="28"></u-icon>
			</view>
			<view class="rows u-flex lessee "  >
				<view class="label" style="color: #EE7F48;">{{lessee.user_name || '本人'}}</view>
				<view class="f1"></view>
				<view class="label" style="color: #EE7F48;">{{lessee.mobile || ''}}</view>
			</view>
		</view>

		<view class="cm_boxs">

			<view class="cm_title">费用明细</view>


			<view class="rows u-flex  ">
				<view class="label">租车费用</view>
				<view class="f1"></view>
				<view class="label">￥{{rentCar.price}}</view>
			</view>
			<!-- <view class="rows u-flex  ">
				<view class="label">基本服务费</view>
				<u-icon name="question-circle" color="#999" size="28"></u-icon>
				<view class="f1"></view>
				<view class="label">￥320</view>
			</view>
			<view class="rows u-flex  ">
				<view class="label">手续费</view>
				<u-icon name="question-circle" color="#999" size="28"></u-icon>
				<view class="f1"></view>
				<view class="label">￥320</view>
			</view> -->
			<view class="rows u-flex  ">
				<view class="label">押金</view>
				<u-icon name="question-circle" color="#999" size="28"></u-icon>
				<view class="f1"></view>
				<view class="label">0</view>
			</view>
			<view class="rows rowsBot u-flex">
				<view class="f1"></view>
				<text class="cm_time">合计</text>
				<Text class="cm_price_tip">{{amount}}</Text>
			</view>
		</view>

		<view class="footer saveBottom">
			<view class="flex footerBar">
				<text class="cm_time">总价</text>
				<Text class="cm_price_tip">{{amount}}</Text>
				<view class="f1" style="padding-right: 30rpx;"> </view>
				<View class="sure" @click="readysubmit">提交订单</View>
			</view>
		</view>
		<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />

		<u-modal v-model="show" show-cancel-button @confirm="toComplete" @cancel="()=>{this.show= false}" title="驾驶证认证"
					content="您当前未上传驾驶证,请完善后再试">
				</u-modal>
		<WxPay :price="currentOrder.pay_price || 0" :order="currentOrder.order_code || ''" @success="handle"
			@cancel="cancelPay" ref="wxPay" />
		<AutoAddress :rentStartAddress="rentStartAddress.site_address" :rentEndAddress="rentEndAddress.site_address"  @success="autoAddress" @cancel="cancel"
			ref="autoAddress" />
	</view>
</template>

<script>
	import WxPay from '@/components/wxpay.vue'

	import AutoAddress from '@/components/autoAddress.vue'
	import {
		mapState
	} from 'vuex'
	export default {
		data() {
			return {
				payParams: {
					"car_code": "", //车辆编码
					"get_car_site_code": "", //取车网点编码
					"still_car_site_code": "", //还车网点编码
					"use_car_day": 0, //用车天数
					"begin_time": "", //开始时间
					"end_time": "", //结束时间
					"order_type": "0", //订单类型0-免押金 1-正常支付
					"lessee_code": '', //承租人
					// auto_get_address: '', //一键取车编码，为空时传以下三个参数longitude，latitude，area_detail，不为空取t_rent_address表的address_code
					// longitude: '',
					// latitude: '',
					// area_detail: '',
				},
				show: false,
				currentOrder: null,
				lessee: null
			};
		},
		components: {
			WxPay,
			AutoAddress
		},
		computed: {
			...mapState({
				// 箭头函数使代码更简练
				rentTime: state => state.rent.rentTime,
				rentDate: state => state.rent.rentDate,
				rentStartAddress: state => state.rent.rentStartAddress,
				rentEndAddress: state => state.rent.rentEndAddress,
				rentArea: state => state.rent.rentArea,
				rentCar: state => state.rent.rentCar,
				autoRentStartAddress: state => state.rent.autoRentStartAddress,
			}),
			rangDays() {
				let days = this.rentDate.length == 2 ? (this.rentDate[1].time - this.rentDate[0].time) / (1 * 24 * 60 *
					60 * 1000) + '天' : '';
				// alert(days);
				return days;
			},
			amount() {
				return Number(this.rentCar.price)
			}

		},
		onLoad() {
			let that = this
			uni.$on('chooseLessee', (item) => {
				that.lessee = item
				that.payParams.lessee_code =item? item.lessee_code:''
			})

		},
		onUnload() {
			uni.$off('chooseLessee')
		},
		methods: {

			//再次 选择 一键取车地址弹窗
			open() {
				this.$refs.autoAddress._show()
			},
			autoAddress() {
				this.$refs.autoAddress._hide()
			},
			close() {
				this.$refs.autoAddress._hide()
			},

			// 选择承租人
			chooseRentUser() {
				uni.navigateTo({
					url: '/pages/features/lesseeUser/lessees?trigger=chooseLessee'
				})
			},

			// 创建订单成功回调
			handle(order) {
				uni.redirectTo({
					url: '/pages/center/myTrips/myTrips'
				})
			},
			// 创建支付失败回调
			cancelPay(){
				this.show = false
				uni.redirectTo({
					url: '/pages/center/myTrips/myTrips'
				})
			},
			// 取消选址
			cancel() {
				// this.show = false
				// uni.redirectTo({
				// 	url: '/pages/center/myTrips/myTrips'
				// })
			},


			readysubmit() {
				// else if (!this.payParams.lessee_code) {
				// 	this.$refs.uTips.show({
				// 		title: '请选择订单承租人',
				// 		type: 'error',
				// 		duration: '1000'
				// 	})
				// 	return
				
				// } 
				if (this.userInfo.is_driving != 1) {
					this.show = true

					return
				} else if (!this.rentEndAddress) {
					this.$refs.uTips.show({
						title: '请选择还车地点',
						type: 'error',
						duration: '1000'
					})
					return
				}
				this.submit()
			},

			// 完善信息
			toComplete() {
				this.show = false
				uni.navigateTo({
					url: '/pages/center/auth/auth?type=1'
				})
			},
			async submit() {
				let that = this
				let days = this.rentDate.length == 2 ? (this.rentDate[1].time - this.rentDate[0].time) / (1 * 24 * 60 *
					60 * 1000) : 0
				this.payParams.car_code = this.rentCar.car_code
				this.payParams.get_car_site_code = this.rentStartAddress.site_code
				this.payParams.still_car_site_code = this.rentEndAddress.site_code
				this.payParams.use_car_day = days

				// 2021-07-8 18:00:00
				let start =
					`${this.rentDate[0].year}-${this.rentDate[0].month}-${this.rentDate[0].day} ${this.rentTime[0]}`
				let end =
					`${this.rentDate[1].year}-${this.rentDate[1].month}-${this.rentDate[1].day} ${this.rentTime[0]}`
				this.payParams.begin_time = start
				this.payParams.end_time = end


				if (this.autoRentStartAddress && this.autoRentStartAddress.auto_get_address) {
					this.payParams.auto_get_address = this.autoRentStartAddress.auto_get_address
					this.payParams.longitude = ''
					this.payParams.latitude = ''
					this.payParams.area_detail = ''
				} else if (this.autoRentStartAddress && !this.autoRentStartAddress.auto_get_address) {
					this.payParams.auto_get_address = ''
					this.payParams.longitude = this.autoRentStartAddress.longitude
					this.payParams.latitude = this.autoRentStartAddress.latitude
					this.payParams.area_detail = this.autoRentStartAddress.area_detail
				} else {
					this.payParams.auto_get_address = ''
					this.payParams.longitude = ''
					this.payParams.latitude = ''
					this.payParams.area_detail = ''
				}


				console.log('data', this.payParams)
				try {
					const res = await this.$api.Business.CreateOrder(this.payParams)
					const {
						order_code
					} = res
					this.currentOrder = res

					this.$refs.uToast.show({
						title: '创建成功',
						type: 'success',
						position: 'bottom',
						callback() {
							that.$store.commit('rent/save_autoRentStartAddress', null)
							if (order_code) {

								that.payNow(order_code)
							}

						}
					})


				} catch (e) {
					//TODO handle the exception
				}

			},
			// 立即支付
			async payNow(order_code) {
				this.$refs.wxPay._show()
			},

			// 切换支付方式
			switchType() {
				if (this.payParams.order_type == 1) {
					this.payParams.order_type = 0
				} else {
					this.payParams.order_type = 1
				}
			},
			chooseCar() {
				this._auth_href('/pages/features/carsSelect/carsSelect?from=createOrder')
				// this._auth_href(`/pages/features/carDetail/carDetail?id=${this.rentCar.car_code}&from=createOrder`)
			},
			rentDatePicker() {
				uni.navigateTo({
					url: '/pages/features/rentDate/rentDate'
				})
			},
			locationPicker(dispatch) {
				// debugger
				uni.getSetting({
					success(res) {
						console.log(res.authSetting)
						if (res.authSetting['scope.userLocation']) {
							uni.navigateTo({
								url: `/pages/features/addressSelect/addressSelect?dispatch=${dispatch}`
							})
						} else {
							uni.showModal({
								title: '需要获取您的位置信息',
								content: '前往设置',
								showCancel: false,
								success() {
									uni.openSetting({

									})
								}
							})

						}
					}
				})



			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 160rpx;

		.carItems {
			// padding: 20rpx;
			background-color: #fff;
			margin-bottom: 16rpx;
			border-radius: 12rpx;

			.pics {
				width: 210rpx;
				height: 118rpx;
				margin-right: 24rpx;
				background: #f1f1f1;
			}

			.title {
				font-weight: 600;
				line-height: 2;
				font-size: 32rpx;
				margin-bottom: 0;
			}
		}

		.grayBoxs {
			margin-top: 32rpx;
			background-color: #f5f5f5;
			padding: 30rpx;
			border-radius: 12rpx;
			font-size: 26rpx;

			.labels {
				color: #666;
				width: 164rpx;
				text-align: left;
			}
		}

		.wayBoxs {
			width: 220rpx;
			height: 152rpx;
			border-radius: 8rpx;
			border: 1rpx solid #C5C5C5;
			position: relative;
			margin-right: 16rpx;

			.icons {
				width: 48rpx;
				height: 48rpx;
			}

			.activeIcons {
				width: 50rpx;
				height: 50rpx;
				position: absolute;
				right: 0;
				bottom: 0;
				display: none;
			}
		}

		.active {
			border: 2rpx solid #EE7F48;

			.icons {
				width: 48rpx;
				height: 48rpx;
				// margin-bottom: 16rpx;
			}

			.activeIcons {
				display: block;
			}

			.cm_time {
				color: #EE7F48;
			}
		}


		.rows {
			line-height: 80rpx;
		}

		.rowsBot {
			border-top: 1rpx solid #f8f8f8;
			padding-top: 16rpx;
			margin-top: 16rpx
		}

		.label {
			font-weight: 400;
			font-size: 26rpx;
			color: #333;
			width: 120;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #fff;

			.footerBar {
				height: 98rpx;
				line-height: 98rpx;

				.sure {
					padding: 0 34rpx;
					color: #fff;
					background-color: $uni-color-primary;
				}

				.cm_time {
					margin-left: 30rpx;
				}
			}
		}

		.lessee {
			padding: 0 20rpx;
			border-radius: 10rpx;
			background: #fffdfa;
		}
	}
</style>
