<template>
	<view class="page">
		<view class=" please" @click="choose"> {{currentAddress?"重新":''}}选择{{type==1?'还车':'取车'}}地址</view>

		<view class="" v-if="currentAddress">
			<view class="boxs">
				<view class="flex cm_form_cells cm_bdb">
					<text class="label  ">联系人</text>
					<view class="  f1 cm_inputs"> {{currentAddress.link_user}}</view>
				</view>
				<view class="flex cm_form_cells ">
					<text class="label ">联系人电话</text>
					<view class="  f1 cm_inputs"> {{currentAddress.link_mobile}}</view>
				</view>
			</view>
			<view class="boxs" style="margin-top: 20rpx;">
				<view class=" cm_form_cells ">
					<text class="label ">{{type==1?'还车':'取车'}}地址</text>
					<view class="  f1 cm_inputs"> {{currentAddress.area_text}}</view>
				</view>
			</view>


		</view>


		<view style="padding:  40rpx;">
			<u-button shape="circle" @click="submit" :custom-style="{marginTop:'32rpx'}" type="primary">提交</u-button>
		</view>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				type: 0,
				order_code: '',
				// address_code: '',
				currentAddress: null
			};
		},
		onLoad(options) {
			this.order_code = options.order_code
			this.type = options.type
			if (this.type == 1) {
				uni.setNavigationBarTitle({
					title: '一键还车'
				})
			} else {
				uni.setNavigationBarTitle({
					title: '一键取车'
				})
			}
			let that = this
			uni.$on('chooseAddress', (res) => {
				// debugger;
				this.currentAddress = res;
				// this.address_code = res.address_code
			})
		},
		methods: {
			choose() {
				uni.navigateTo({
					url: '/pages/features/address/address?trigger=chooseAddress'
				})
			},
			async submit() {
				// debugger
				if (!this.currentAddress) {
					this.$refs.uTips.show({
						title: '请选择取/还地址',
						type: 'warning',
						duration: '1000'
					})

					return;
				}
				try {
					let data = {
						order_code: this.order_code,
						address_code: this.currentAddress.address_code,
					}
					let res = ''
					// debugger
					this.$ui.showloading()
					if (this.type == 1) {
						res = await this.$api.Business.AutoStillCar(data)
					} else {
						res = await this.$api.Business.AutoGetCar(data)
					}
					this.$ui.hideloading()
					uni.$emit('myTrips');
					this.$refs.uToast.show({
						title: '操作成功',
						type: 'success',
						position: 'bottom',
						callback() {

							uni.navigateBack({

							})
						}
					})
				} catch (e) {
					console.log(e)
					this.$ui.hideloading()
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.page {
		overflow: hidden;
		background: #f8f8f8;
		width: 100vw;
		height: 100vh;

		.boxs {
			// margin-top: 20rpx;
			background: #fff;
			padding: 0 20rpx;
			// border-radius: 20rpx;
			overflow: hidden;
		}

		.please {
			// height: 160rpx;
			line-height: 120rpx;
			text-align: center;
			background-color: #fffffd;
			// border: 2rpx solid #F0AD4E;
			// border-radius: 20rpx;
		}

		.cm_form_cells {
			line-height: 88rpx;
			background-color: #fff;

			// border-bottom: 1rpx solid #eee;
			// padding:  0 20rpx;
			.label {
				width: 160rpx;
			}
		}

	}
</style>
