<template>
	<view class="mapBox ">
		<view :class="is_root?' success':'error'">{{is_root?'当前位置可使用"一键取/还车"功能':'当前位置超出一键配送范围'}}</view>
		<view style="padding: 12rpx 20rpx;position: relative;z-index: 100;">
			<u-search placeholder="地址名称" v-model="keyword" @search="search" @custom="search"></u-search>
		</view>

		<map id="map" class="map" :enable-poi="true" :longitude="longitude" :latitude="latitude" :scale="12"
			:controls="controls" @controltap="controltap" :markers="markers" @markertap="markertap" :polygons="polygons"
			@regionchange="regionchange" show-location>

			<cover-image class="controls-play" @click="play" src="../../../static/img/position.png"></cover-image>

		</map>
		<!-- <cover-view class="header "> 
		<cover-view class="u-flex">
			<cover-view class="f1 "> </cover-view>
			<cover-view class="btns" @click="chooseRegion">选择该区域</cover-view>
		</cover-view>
	
	</cover-view> -->
		<view class="footer ">
			<scroll-view :scroll-y="true" class="content">
				<view>
					<view class="u-flex" v-for="item in list" :key="item.id" @click="select(item)">
						<view class="itemlists ">
							<view>{{item.name}}</view>
							<view class="des">{{item.address}}</view>
						</view>
					</view>
				</view>

			</scroll-view>


		</view>
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	import http from '@/common/http/index.js'
	import {
		IsPtInPoly,
		formatLocation,
		getDistance,
		points
	} from './utils.js'

	export default {
		data() {
			return {
				keyword: '',
				longitude: "",
				latitude: "",
				des_longitude: "",
				des_latitude: "",
				list: [],
				markers: [],
				polygons: [{
					points: points,
					fillColor: "#2aa5ff50", //前六位数字表示多边形背景颜色，后两位表示透明度，90是不透明多90%，反过来透明度10%
					strokeColor: "#2c46ff",
					strokeWidth: 1,

					zIndex: 1
				}],
				is_root: 0
			}

		},
		onLoad(options) {
			this.longitude = this.location.longitude
			this.latitude = this.location.latitude
			this.des_longitude = this.location.longitude
			this.des_latitude = this.location.latitude
			this.ifInSize()
			this.poiSearch()
		},
		computed: {
			...mapState({

				location: state => state.rent.location,
			}),
		},
		watch: {
			// location(val){
			// 	console.log(111,val)
			// }
		},
		methods: {
			search(key) {
				// debugger
				this.keyword = key
				this.poiSearch()
			},
			select(item) {
				// debugger
				item.is_root = this.is_root
				// debugger
				if(!this.is_root){
					this.$ui.toast('该位置超出使用范围')
					return 
				}
				uni.$emit('selectLocation', item)
				uni.navigateBack({

				})
			},

			async poiSearch(data) {
				// https://restapi.amap.com/v3/place/around?parameters 
				// 60361faf3cfac69914dbd743ef772c04
				let d = {
					keywords: this.keyword,
					page: 1,
					types: '190000|170000|140000|120000',
					key: '60361faf3cfac69914dbd743ef772c04',
					location: `${ Number(this.des_longitude).toFixed(6)},${ Number(this.des_latitude).toFixed(6)}`,
					...data
				}
				// debugger
				try {

					let [error, res] = await uni.request({

						url: 'https://restapi.amap.com/v3/place/around',
						method: 'GET',
						data: d
					})
					console.log(res.data.pois)
					if (d.page == 1) {
						this.list = [...res.data.pois]
					} else {
						this.list = this.list.concat(res.data.pois)
					}
				} catch (e) {
					console.log(e)
				}
			},

			chooseRegion() {
				// uni.chooseAddress({
				// 	success(res) {
				// 		console.log(res)
				// 	}
				// })
				// let that = this
				// uni.chooseLocation({
				// 	latitude:that.des_latitude,
				// 	longitude:that.des_longitude,
				//     success: function (res) {
				//         console.log('位置名称：' ,res)
				// 		// that.currenAddress = res.name
				// 		// that.$store.commit('rent/saveLocation',{longitude:res.longitude,latitude:res.latitude,Key:that.keyword})
				//     },
				// 	fail(err){
				// 		console.log(err)
				// 	}
				// });
				// debugger
				this.$store.commit('rent/saveLocation', {
					longitude: this.des_longitude,
					latitude: this.des_latitude,
				})
				uni.navigateBack({

				})
			},
			//微信获取当前用户的定位
			getlocation() {
				wx.getLocation({
					success: function(res) {
						console.log(res)
						console.log(formatLocation(res.longitude, res.latitude))
					},
					fail: function(res) {
						console.log(res)
					}
				})
			},
			regionchange(e) {
				console.log(e)
				const {
					type,
					detail
				} = e
				if (type == 'end' && detail.centerLocation) {
					this.des_longitude = detail.centerLocation.longitude
					this.des_latitude = detail.centerLocation.latitude


					this.ifInSize()
					this.poiSearch()
				}
			},
			// 判断是否是 商圈范围内
			ifInSize() {
				let bool = IsPtInPoly(this.des_latitude, this.des_longitude, points)
				console.log(66, bool)
				this.is_root = bool
			},
			controltap(e) {
				console.log(e)
			},
			markertap(e) {
				console.log(e)
			},
			play() {

			}
		}

	}
</script>

<style lang="scss" scoped>
	.mapBox {
		width: 100%;
		height: 100vh;
		position: relative;

		.map {
			width: 100%;
			height: 50vh;
			overflow: hidden;
			position: absolute;
			left: 0;
			top: 128rpx;
			// bottom: ;
		}

		.success {
			height: 40rpx;
			line-height: 40rpx;
			background-color: #e7fff0;
			color: #4CAF50;
			padding: 0 20rpx;
			text-align: center;
		}

		.error {
			height: 40rpx;
			line-height: 40rpx;
			background-color: #fff9fa;
			color: #e85050;
			padding: 0 20rpx;
			text-align: center;
		}

		.header {
			position: absolute;
			left: 0;
			// height: 100rpx;
			right: 0;
			top: 0;
			background: rgba(255, 255, 255, .5);
			padding: 16rpx;

			.text {
				line-height: 20rpx;
				// background-color: tgba();
			}

			.btns {
				padding: 16rpx;
				border-radius: 10rpx;
				background: red;
				color: #fff;
				margin-left: 20rpx;
			}
		}

		.footer {
			position: absolute;
			left: 0;
			// height: 50vh;
			top: calc(50vh + 88rpx);
			right: 0;
			bottom: 0rpx;
			background: #fff;
			padding: 16rpx;
			z-index: 100;
			padding-bottom: 40rpx;

			.content {
				width: 100%;
				height: 100%;
				overflow-y: auto;
			}

			.itemlists {
				padding: 20rpx 16rpx;
				border-bottom: 1rpx solid #f1f1f1;
				text-align: left;
				width: 100%;

				.des {
					font-size: 20rpx;
					color: #666;
				}
			}
		}

		.controls-play {
			width: 70rpx;
			height: 70rpx;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -60rpx;
			margin-left: -35rpx;
			z-index: 10;
		}
	}
</style>
