<template>
	<view class="pages">
		<view class="boxs">
			<u-form :model="form" ref="uForm" :label-width="160">

				<view class="formBox">
					<u-form-item label="收货人" prop="link_user">
						<u-input v-model="form.link_user" placeholder="请输入收货人姓名" />
						<!-- 	<view slot="right" hover-class="hover" style="padding: 0 16rpx;" @click="_choose">
							<u-icon name="calendar" :size="36" color="#999"></u-icon>
						</view> -->
					</u-form-item>
					<u-form-item label="手机号码" prop="link_mobile">
						<u-input v-model="form.link_mobile" type="number" placeholder="请输入联系电话" />
					</u-form-item>
					<u-form-item label="所在地区" prop="area_code">
						<u-input disabled v-model="form.area_text" placeholder="请选择所在地区" @click="showRegionPicker" />
						
					</u-form-item>
					<u-form-item label="详细地址" prop="area_detail">
						<view class="u-flex">
							<view class="f1">
								<u-input v-model="form.area_detail" type="text" :autoHeight="true" placeholder="请输入收货地址" />
							</view>
							<navigator url="/pages/features/mapLocation/mapLocation" style="padding: 0 20rpx;">
								<u-icon name="map-fill" :size="46" color="#EE7F48" ></u-icon>
							</navigator>					
						</view>
						
					</u-form-item>

				</view>

			</u-form>
		</view>
		<view class="boxs default u-flex">

			 
				<view class="tips u-flex-1">设置默认地址</view>
				<switch color="#4cd964" @change="setDefault" />
			 
		</view>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
		<u-picker mode="region" ref="uPicker" v-model="show" @confirm="confirm" />
		<view class="addSite">
			<!-- <view class="add">增加地址</view> -->
			<u-button @click="submit" :custom-style="{width:'100%'}" shape="circle" type="primary">
				增加地址
			</u-button>
		</view>

	</view>
</template>

<script>
	import {
		IsPtInPoly,
		formatLocation,
		getDistance,
		points
	} from '../mapLocation/utils.js'
	export default {
		data() {
			return {
				show: false,
				form: {
					area_code: '',
					area_text: '',
					area_detail: '',
					link_user: '',
					link_mobile: '',
					longitude: '',
					latitude: '',
					is_root: '0',
				},
				address: '',
				rules: {
					link_user: [{
						required: true,
						message: '请输入收货人姓名',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					link_mobile: [{
							required: true,
							message: '请输入收货人联系方式',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							validator: (rule, value, callback) => {
								return this.$u.test.mobile(value);
							},
							message: '请输入正确的电话号码',
							trigger: ['blur'],
						}
					],
					area_code: [{
						required: true,
						message: '请选择地址',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					area_detail: [{
						required: true,
						message: '请输入收货人地址',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],

				},
				ifSetDefault: false //是否设为默认

			};
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		onLoad(options) {
			// if(options)
			let that = this
			uni.$on('selectLocation',(pos)=>{
				console.log('pos',pos)
				const {location,address,is_root} = pos
				let l = location.split(',')
				this.form.latitude = l[1]
				this.form.longitude = l[0]
				this.form.area_detail = address 
				this.form.is_root = is_root?1:0
			})
		},
		methods: {
			setDefault(e) {
				console.log(e)
				let value = e.detail.value;
				this.ifSetDefault = value
			},
			showRegionPicker() {
				// debugger
				this.show = true;
			},
			confirm(e) {
				// console.log(e);
				this.form.area_text = `${e.province.label}-${e.city.label}-${e.area.label}`
				this.form.area_code = e.area.value
				// this.form.area = e.area.value
			},
			submit() {
				if(!this.form.longitude || !this.form.latitude){
					this.$refs.uTips.show({
						title: '请点击右上方图标，选择地址经纬度',
						type: 'warning',
						duration: '1000'
					})
					return;
				}
				let that = this
				this.$refs.uForm.validate(async valid => {
					if (valid) {
						// that.$store.commit('userLogin')
						// that.$store.dispatch('refreshUser')
						// that.form.area_detail =  that.form.area_detail
						// that.form.is_root = that.is_root?1:0
						try {
							that.$ui.showloading()
							let res = await that.$api.Business.AddAddressList(that.form)
							console.log(res);
							that.$ui.hideloading()
							that.$refs.uToast.show({
								title: '添加成功',
								type: 'success',
								back: true,
							})
							// console.log( '请求结果success : ' + JSON.stringify(res))
						} catch (err) {
							console.log('请求结果false : ' + err)
							that.loading = false
						}
					} else {
						console.log('验证失败');
					}
				});
			},
		}
	};
</script>

<style lang="scss" scoped>
	.pages {

		// padding: 20rpx;
		.boxs {
			background-color: #fff;
			padding: 0 20rpx;
			// border-radius: 12rpx;
		}
	}

	.addSite {
		// display: flex;
		justify-content: space-around;
		// width: 600rpx;
		line-height: 100rpx;
		// position: absolute;
		// bottom: 30rpx;
		// left: 80rpx;
		width: 100%;
		// background-color: red;
		border-radius: 60rpx;
		font-size: 30rpx;
		margin-top: 40rpx;
		padding: 20rpx;

		.add {
			display: flex;
			align-items: center;
			color: #ffffff;

			.icon {
				margin-right: 10rpx;
			}
		}
	}

	.default {
		padding-top: 20rpx!important;
		padding-bottom: 20rpx!important;
		border-bottom: solid 1rpx $u-border-color;
		line-height: 64rpx;
		margin-top: 20rpx;

		.tips {
			font-size: 24rpx;
		}

		.right {}
	}
</style>
