<template>
	<view class="pages">
		<view class="header flex animated fadeIn">
			<view @click="toggleUser">
				<u-avatar :src="userInfo?userInfo.consumer_head:''" size="mini"></u-avatar>
			</view>
			<navigator url="../../features/citySelect/citySelect">
				<text class="header_area">{{rentArea.area_code?rentArea.area_name:'选择城市'}}</text>
			</navigator>
			<u-icon name="arrow-down" color="#333333" size="28"></u-icon>
			<view class="f1"></view>
			<image src="../../../static/images/sy_xx.png" class="cm_action"></image>
			<!-- </view> -->
		</view>
		<!-- <view > -->
		<navigator url="/pages/role/wxLogin/wxLogin" v-if="!hasLogin" class="loginTip flex">
			<text class="login_area">立即登录账户，享受便捷租车服务</text>

			<view class="f1"></view>
			<u-icon name="arrow-right" color="#ff742f" size="28"></u-icon>
		</navigator>
		<!-- </view> -->
		<view class="banner">
			<u-swiper :border-radius="0"   name="link_file" :list="banners" @click="click" :effect3d="false" :height="350"></u-swiper>
		</view>

		<view class="content">
			<view class="boxs">
				<view class="formItems" @click="locationPicker('rent/selectStartAddress')">
					<view class="formLabal">取车地点</view>
					<view class="formContent u-flex">
						<view class="title">{{rentStartAddress.site_address || '请选择'}}</view>
						<u-icon name="arrow-right" color="#666" size="28"></u-icon>
					</view>

					<view class="line"></view>
				</view>
				<view class="formItems" @click="locationPicker('rent/selectEndAddress')">
					<view class="formLabal">还车地点</view>
					<view class="formContent u-flex">
						<view class="title">{{rentEndAddress.site_address|| '请选择' }}</view>
						<u-icon name="arrow-right" color="#666" size="28"></u-icon>
					</view>
				</view>

				<view @click="rentDatePicker">

					<RentingTime customstyle="background:#f8f8f8" :rentTime="rentTime" :rentDate="rentDate" />
				</view>
				<u-button shape="circle" @click="chooseCar" :custom-style="{width:'100%',marginTop:'80rpx'}"
					type="primary">
					选车</u-button>
			</view>
			<view class="boxs menus">
				<u-grid :col="3" :border="false">
					<u-grid-item @click="_auth_href('/pages/center/myTrips/myTrips')">
						<!-- <u-avatar src="../../../static/images/sy_bm.png" :size="90"></u-avatar> -->
						<image src="../../../static/images/sy_xc.png" mode="scaleToFill"
							style="width: 90rpx;height: 90rpx;"></image>
						<view class="grid-text">我的行程</view>
					</u-grid-item>
					<u-grid-item @click="_auth_href('/pages/center/myWallet/myWallet')">
						<!-- <u-avatar src="../../../static/images/sy_xx.png" :size="90"></u-avatar> -->
						<image src="../../../static/images/sy_qb.png" mode="scaleToFill"
							style="width: 90rpx;height: 90rpx;"></image>
						<view class="grid-text">我的钱包</view>
					</u-grid-item>
					<!-- 	<u-grid-item  @click="_auth_href('/pages/center/taxManage/taxManage')"> 
						<image src="../../../static/images/sy_fp.png" mode="scaleToFill"
							style="width: 90rpx;height: 90rpx;"></image>
						<view class="grid-text">开具发票</view>
					</u-grid-item> -->
					<u-grid-item @click="_auth_href('/pages/center/help/help')">
						<image src="../../../static/images/sy_kf.png" mode="scaleToFill"
							style="width: 90rpx;height: 90rpx;"></image>
						<!-- <u-avatar src="../../../static/images/sy_zq.png" :size="90"></u-avatar> -->
						<view class="grid-text">客服</view>
					</u-grid-item>
				</u-grid>

			</view>

		</view>



		<!-- 
		<u-mask :show="show" @click="show = false">
			<view class="warp">
				<view class="rect u-flex-y" @click.stop>
					<view class="maskHeader">
						{{modalMsg.content}}
					</view>
					<view class="u-flex-1 u-flex-y">
						<image class="maskPic" :src="modalMsg.src" mode="widthFix"></image>
					</view>

				</view>
				<image src="../../../static/images/sy_gb.png" mode="scaleToFill" style="width: 100rpx;height: 100rpx;">
				</image>
			</view>
		</u-mask> -->
		<u-popup v-model="userPanel" mode="left" width="500rpx">
			<view class="userBox u-flex-y">
				<u-avatar :src="userInfo.consumer_head" size="large"></u-avatar>
				<view>{{userInfo.consumer_nick_name}}</view>
				<view class="listBar">
					<u-cell-group title=" ">
						<u-cell-item title="行程" arrow @click="_href('/pages/center/myTrips/myTrips')">
							<image src="../../../static/images/cb_xc.png" mode="aspectFill" class="licons" slot="icon">
							</image>
						</u-cell-item>
						<u-cell-item title="钱包" arrow @click="_href('/pages/center/myWallet/myWallet')">
							<image src="../../../static/images/cb_qb.png" mode="aspectFill" class="licons" slot="icon">
							</image>
						</u-cell-item>
						<u-cell-item title="违章处理" arrow @click="_href('/pages/center/violation/violation')">
							<image src="../../../static/images/cb_wz.png" mode="aspectFill" class="licons" slot="icon">
							</image>
						</u-cell-item>
						<!-- <u-cell-item title="开具发票" arrow>
							<image src="../../../static/images/cb_fp.png" mode="aspectFill" class="licons" slot="icon">
							</image>
						</u-cell-item> -->
						<u-cell-item title="个人资料" arrow @click="_href('/pages/center/userInfo/userInfo')">
							<image src="../../../static/images/cb_zl.png" mode="aspectFill" class="licons" slot="icon">
							</image>
						</u-cell-item>
						<u-cell-item title="客服" arrow @click="_href('/pages/center/help/help')">
							<image src="../../../static/images/cb_kf.png" mode="aspectFill" class="licons" slot="icon">
							</image>
						</u-cell-item>
						<u-cell-item title="设置" arrow @click="_href('/pages/center/set/set')">
							<image src="../../../static/images/cb_sz.png" mode="aspectFill" class="licons" slot="icon">
							</image>
						</u-cell-item>
					</u-cell-group>

				</view>
			</view>
		</u-popup>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	const GlobalSet = uni.getStorageSync('GlobalSet');
	import RentingTime from '@/components/RentingTime.vue'
	// import Utils from '@/common/utils.js'

	export default {
		data() {
			return {
				baseKey: '',
				show: false,
				userPanel: false,
				banners: [{
					Text: 'https://cdn.uviewui.com/uview/swiper/1.jpg',
					title: '昨夜星辰昨夜风，画楼西畔桂堂东'
				}],
				iconList: [],
				tableList: [],

				modalMsg: {
					content: '',
					src: ''
				},

				listForm: {
					date: 10
				}
			}
		},
		components: {
			RentingTime
		},
		computed: {
			...mapState({
				// 箭头函数使代码更简练
				rentTime: state => state.rent.rentTime,
				rentDate: state => state.rent.rentDate,
				rentStartAddress: state => state.rent.rentStartAddress,
				rentEndAddress: state => state.rent.rentEndAddress,
				rentArea: state => state.rent.rentArea,
			}),


		},
		onLoad(options) {
			let that = this
			// console.log(111,this.hasLogin)
			this.initHome()

		},
		onPullDownRefresh() {
			this.listForm.date = 10;
			this.lists = [];
			// this._loadList('refresh');
		},
		// 上拉加载
		onReachBottom() {
			if (this.loadStatus == 'noMore') {
				return;
			}
			this.listForm.date += 3;
			this.loadStatus = 'loading';
			// this._loadList('add');
			// uni.$emit('uOnReachBottom')
		},
		methods: {
			chooseCar() {
				if(!this.rentStartAddress.site_code  ){

					this.$ui.toast('请先选择取地址')
					return
				}
				this._auth_href('/pages/features/carsSelect/carsSelect')
			},
			_href(url) {
				uni.navigateTo({
					url: url
				})
				this.toggleUser()
			},
			async initHome() {

				try {
					const res = await this.$api.Business.GetHome()
					// console.log(res)
					this.banners = res.lst_baner
					// this.$store.commit('rent/selectStartAddress',res.car_site[0])
				} catch (e) {
					// console.log(e)
					// debugger
					//TODO handle the exception
				}
			},
			_nav() {
				uni.navigateTo({
					url: '/pages/features/carsSelect/carsSelect'
				})
			},
			rentDatePicker() {
				uni.navigateTo({
					url: '/pages/features/rentDate/rentDate'
				})
			},
			locationPicker(dispatch) {
				// debugger
				uni.getSetting({
					success(res) {
						console.log(res.authSetting)
						if (res.authSetting['scope.userLocation']) {
							uni.navigateTo({
								url: `/pages/features/addressSelect/addressSelect?dispatch=${dispatch}`
							})
						} else {
							uni.showModal({
								title: '需要获取您的位置信息',
								content: '前往设置',
								showCancel: false,
								success() {
									uni.openSetting({

									})
								}
							})

						}
					}
				})



			},
			toggleUser() {
				if (!this.hasLogin) {
					uni.navigateTo({
						url: '/pages/role/wxLogin/wxLogin'
					})
					return;
				}

				this.userPanel = !this.userPanel
			},
			click(index) {
				// debugger
				this._config_href(this.banners[index]);

			},
			// 二维码显示
			showModal(k) {
				switch (k) {
					case 1:
						if (!this.hasLogin) {
							this._login();
							break;
						}
						this.modalMsg = {
							content: '长按识别二维码，添加专属老师微信号进行报名',
							src: this.userInfo.consumer_qr_code
						}
						this.show = true
						break;
					case 2:
						this.modalMsg = {
							content: '长按识别二维码，关注微信公众号订阅开课通知',
							src: GlobalSet.RQ_CodeList[0].Text
						}
						this.show = true
						break;
					default:
						break;
				}
			}
		},
	}
</script>

<style lang="scss" scoped>
	.pages {
		width: 100vw;
		min-height: 100vh;
		padding-bottom: 80rpx;

		.header {
			height: 88rpx;
			width: 100vw;
			background-color: #fff;
			padding: 0 30rpx;
			position: sticky;
			top: 0;
			left: 0;
			z-index: 2;

			.header_area {
				margin: 0 10rpx 0 30rpx;
			}
		}
		.loginTip{
			height:66rpx;
			// width: 100vw;
			background-color: #fffdeb;
			// color: ;
			padding: 0 30rpx;
			position: sticky;
			top: 88rpx;
			left: 0;
			z-index: 2;
			.login_area{
				color: #ff742f;
			}
		}
		.banner {
			width: 100%;
			height: 350rpx;
		}

		.line {
			width: 100%;
			height: 1rpx;
			background-color: #f8f8f8;
		}

		.content {
			padding: 20rpx;
			margin-top: -80rpx;
			position: relative;
			z-index: 1;

			.boxs {
				background-color: #fff;
				padding: 40rpx;
				border-radius: 20rpx;
				margin-bottom: 20rpx;

				.formItems {
					margin-bottom: 20rpx;

					.formLabal {
						line-height: 2;
						color: #888;
					}

					.formContent {
						line-height: 1.2;
						padding: 26rpx 0;

						.title {
							font-size: 36rpx;
							color: #333;
							margin-right: 20rpx;
							font-weight: 600;
							width: 90%;
						}

					}
				}


			}
		}

		.menus {
			border-radius: 20rpx;
			overflow: hidden;
			background-color: #fff;
			padding: 0 !important;

			.grid-text {
				font-size: 24rpx;
				margin-top: 20rpx;
				color: #333;
				// margin-left: 16rpx;
			}
		}


		.userBox {
			padding: 30rpx;

			.listBar {
				width: 100%;
				margin-top: 40rpx;
			}

			.licons {
				width: 40rpx;
				height: 40rpx;
				transform: translateX(-20rpx);
			}
		}



		.warp {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;

			.rect {
				width: 90vw;
				height: 790rpx;
				border-radius: 12rpx;
				overflow: hidden;
				background-color: #fff;

				.maskHeader {
					width: 100%;
					background: linear-gradient(to top, #248EE9, #54ABF6);
					padding: 32rpx 53rpx;
					color: #fff;
				}

				.maskPic {
					width: 476rpx;
					height: 476rpx;
					margin: 30rpx auto;
				}
			}
		}



	}
</style>
