<template>
	<view class="pages">
		<view class="header u-flex-y">
			<!-- <u-avatar src="../../../static/img/logo.jpg" :size="300" mode="square"></u-avatar> -->
			欢迎使用
		</view>

		<view class="box">
			<!-- #ifdef H5 -->
			<u-button shape="circle" @click="_wxLogin" :custom-style="{width:'100%',marginBottom:'32rpx'}"
				type="primary">微信登录</u-button>
			<!-- #endif -->
			<!-- #ifdef MP -->
			<!-- <u-button shape="circle" open-type="getUserInfo" @getuserinfo="getuserinfo" :custom-style="{width:'100%',marginBottom:'32rpx'}" type="primary">微信登录</u-button> -->
			<u-button shape="circle" v-if="canIUseGetUserProfile" @click="getUserProfile" type="primary"
				:custom-style="{width:'100%',marginBottom:'32rpx'}"> 微信一键登录 </u-button>
			<u-button shape="circle" v-else open-type="getUserInfo" type="primary" @getuserinfo="getuserinfo"
				:custom-style="{width:'100%',marginBottom:'32rpx'}">微信登录</u-button>

			<!-- #endif -->
			<!-- <u-button shape="circle" @click="_nav" :custom-style="{width:'100%'}" type="default">其他方式登录</u-button> -->
		</view>
		<accredit ref="userBox">
			<view class="formBox" slot="content">
				<view class="cm_title cm_tex_c title"> 账户绑定</view>
				<view class=" inputBoxs ">
					<text class="cm_title label  ">手机号码:</text>
				</view>

				<view class=" inputBoxs  flex flex_center cm_bdb">
					<input class="cm_tex_l f1 inp" type="number" v-model="params.mobile" placeholder="请输入手机号">
					<view class="yzmBtn" size="mini" hover-class="cm_hover" @tap="_getCode">
						{{seconds>0?seconds+'s':'发送验证码'}}
					</view>
				</view>
				<view class=" inputBoxs ">
					<text class="cm_title label  ">验证码:</text>
				</view>
				<view class=" ">
					<one-input ref="hi" type="box" @finish="finish" @input="input" :maxlength="6"></one-input>
				</view>
				<u-button type="primary" shape="circle"    @tap="submit" :custom-style="{width:'100%',marginTop:'32rpx'}">立即绑定</u-button>
			</view>
		</accredit>
		<u-top-tips ref="uTips" :navbar-height="44"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	import Utils from '@/common/utils.js';
	import SET from '@/SET.js';
	import oneInput from '@/components/myp-one/myp-one';
	import accredit from '@/components/accredit/accredit';
	export default {
		data() {
			return {
				loadModal: true,
				result: '',
				canIUseGetUserProfile: false,
				effective: '',
				params: {
					"open_id": "",
					"vilidate": "",
					"mobile": "",
					"invitation": "", //邀请码
					"nickname": "", //微信昵称
					"headimgurl": "", //用户头像
					"share_user_id": "", //userid 分享活动
					"registe_type":"1",
					"wx_code_type":1,
				}, 
				seconds: 0,
				time: null,
			};
		},

		computed: { },
		onLoad() {
			let that = this
			// this.loginParams.openId = uni.getStorageSync(SET.opIdName);
			// 存在预先引导动作
			// console.log(this.currentAction)
			if (uni.getUserProfile) {

				this.canIUseGetUserProfile = true

			} else {

			}
		},
		components: {
			accredit,
			oneInput
		},
		methods: {
			_nav() {
				// debugger
				uni.redirectTo({
					url: '../yzmLogin/yzmLogin'
				})
			},
			getUserProfile(e) {
				let that = this
				// 推荐使用wx.getUserProfile获取用户信息，开发者每次通过该接口获取用户个人信息均需用户确认
				// 开发者妥善保管用户快速填写的头像昵称，避免重复弹窗
				uni.getUserProfile({
					desc: '获取您的信息头像和昵称', // 声明获取用户个人信息后的用途，后续会展示在弹窗中，请谨慎填写
					success: (res) => {
						// debugger
						this.params.nickname = res.userInfo.nickName
						this.params.headimgurl = res.userInfo.avatarUrl
						const opid = uni.getStorageSync(SET.opIdName);
						if (opid) {
							let form = {
								"open_id": opid,
								"wx_code_type": 1, //0-公众号 1-小程序(不传默认为0)
							}
							that._autoLogin(form)
						} else {
							uni.login({
								provider: 'weixin',
								success: function(res) {
									let code = res.code;
									console.log('code', code)
									// 获取code换opid
									that._getOpenId(code)
								}
							});
						}
					},
					fail(e) {
						console.log(e)
					}
				})
			},
			// 小程序使用
			getuserinfo(res) {
				let that = this
				let userInfo = res.detail.userInfo
				if (userInfo) {
					console.log(userInfo)
					const opId = uni.getStorageSync(SET.opIdName)
					if (!opId) {
						// #ifdef MP
						uni.login({
							provider: 'weixin',
							success: function(res) {
								let code = res.code;
								console.log('code', code)
								// 获取code换opid 
								that._getOpenId(code)
							}
						});
						// #endif
						return false
					}
					let data = {
						"open_id": opId,
						"wx_code_type": "1", //0-公众号 1-小程序(不传默认为0)
					}

					this._autoLogin(data)

				} else {
					this.$ui.toast(res.detail.errMsg)
				}

			},
			// 获取用户身份
			async _getOpenId(code) {
				let that = this;
				try {
					// const inviCode = uni.getStorageSync('inviCode')
					let data = {
						// "wx_code": code,
						// "invitation": inviCode
						"wx_code": code,
						"wx_code_type": 1, //0-公众号 1-小程序
					}

					try {
						this.$ui.showloading()
						let res = await this.$api.Auth.GetOpenId(data, false);
						uni.setStorageSync(SET.opIdName, res)
						
						this.$ui.hideloading()
						// debugger
						let form = {
							"open_id": res,
							"wx_code_type": 1, //0-公众号 1-小程序(不传默认为0)
						}
						this._autoLogin(form)
					} catch (e) {
						this.$ui.hideloading()
						//TODO handle the exception
					}

				} catch (err) {
					uni.hideLoading()
				}
			},
			// openid登录
			async _autoLogin(data) {
				let that = this;

				try {
					this.$ui.showloading()
					let res = await this.$api.Auth.WxTokenLogin(data, false);
					// debugger
					uni.setStorageSync(SET.tokenName, res)
					// 有效token，直接登录
					that.$store.commit('app/userLogin')
					that.$store.dispatch('app/refreshUser')
					this.$ui.hideloading()
					// this.$ui.toast('登陆成功')
					that.$refs.uToast.show({
						title: '登陆成功',
						type: 'success',
						position: 'bottom',
						back: true
					})
				} catch (err) {
					// debugger
					this.$ui.hideloading()
					// console.log('请求结果false : ' + err);
					// this.$ui.toast(res.Msg)
					this.$refs.userBox.showModal();
				}
			},

			// 立即注册
			async submit() {
				let that = this			
				this.params.open_id = uni.getStorageSync(SET.opIdName)
				console.log(this.params);
				if (!this.params.vilidate || this.params.vilidate.length < 6) {
					this.$ui.toast('请输入正确的验证码')
					return;
				}

				try {
					this.$ui.showloading()
					//console.log(this.params)
					let res = await this.$api.Auth.WxAutoRegiste(this.params, false);
					// console.log(res);
					// debugger
					// this.$ui.hideloading()
					that.$refs.userBox.hideModal()
					// that.$ui.toast('恭喜注册成功')
					uni.setStorageSync(SET.tokenName, res)
					// 有效token，直接登录
					that.$store.commit('app/userLogin')
					that.$store.dispatch('app/refreshUser')
					this.$ui.hideloading()
					that.$refs.uToast.show({
						title: '恭喜注册成功',
						type: 'success',
						position: 'bottom',
						back: true
					})
					// let opid = res.Data.openId;
					// that.autoLogin(opid)
					
				} catch (err) {
					that.$ui.toast(err)
					that.reset()
				}
			},
			// 重置表单
			reset() {
				this.$refs.userBox.hideModal();
				this.seconds = 0
				this.effective = ''
				this.params.vilidate = ''
				clearInterval(this.time)
				this.time = null
				this.$refs.hi.set('')
			},
			// 实时同步
			input(e) {
				this.params.vilidate = e
			},
			// 输完验证码码回调
			finish(e) {
				uni.hideKeyboard()
				this.submit()
				// this.reset()
			},
			// 获取验证码
			async _getCode() {
				if (this.effective) return;
				let self = this;
				if (!this.params.mobile || !Utils.phoneCheck(this.params.mobile)) {
					this.$ui.toast('请输入正确的手机号码')
					return;
				}
				// console.log(this.params)
				let data = {
					mobile: this.params.mobile,
					type: 1 //1,注册 2,登录 3,找回 4.银行卡 8-提现
				};
				try {
					this.$ui.showloading()
					let res = await this.$api.Auth.getVerificateCode(data);
					this.$ui.toast('验证码已发送')
					self.effective = true;
					self.seconds = 60;
					this.time = setInterval(() => {
						self.seconds -= 1;
						if (self.seconds == 0) {
							self.effective = false;
							clearInterval(this.time)
						}
					}, 1000)
				} catch (err) {
					console.log('请求结果false : ' + err)
					
				}
			},



			// *************************h5登录*************************
			async _wxLogin() {
				let that = this;
				const opId = uni.getStorageSync(SET.opIdName)
				if (!opId) {
					// #ifdef H5
					this._toAuth();
					// #endif

					return false
				}
				let data = {
					"openId": opId,
					"wx_code_type": "0", //0-公众号 1-小程序(不传默认为0)
				}

				this._autoLogin(data)
			},
		},
		// 前往授权 h5使用
		async _toAuth() {

			window.location.href =
				'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' +
				this.set.appid +
				'&redirect_uri=' +
				this.set.redirect_uri +
				'&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect';
		},
	}
</script>

<style lang="scss" scoped>
	.pages {
		background-color: #fff;

		.header {
			height: 500rpx;
			width: 100vw;
		}

		.box {
			padding: 0 50rpx;

		}

		.warp {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100vw;
			height: 100vh;

			.rect {
				width: 90vw;
				// height: 80vh;
				background-color: #fff;
				border-radius: 16rpx;
				padding: 40rpx;

				.username {
					margin: 30rpx auto;
				}

				.inputs {
					width: 80vw;
					height: 88rpx;
					line-height: 88rpx;
					border-radius: 44rpx;
					background-color: #F7F7F7;
					margin-bottom: 32rpx;
					padding: 0 20rpx;
				}

				.icons {
					width: 36rpx;
					height: 36rpx;
					margin-right: 10rpx;
					margin-left: 10rpx;
				}
			}
		}

		.formBox {
			width: 100%;
			padding: 48rpx;
		
			.title {
				color: $uni-color-primary;
			}
		
			.inputBoxs {
				// justify-content: center;
				align-items: center;
				line-height: 86rpx;
				height: 86rpx;
		
				.inp {
					width: 80%
				}
			}
		}
	}
</style>
