<template>
	<view class="pages">

		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="order"></u-empty>
		</view>
		<view class="listBoxs" v-else>
			<block v-for="(item,index) in  lists" :key="index">
				<view class="orderItemsBox  " @click="_nav">
					<view class=" itemheader">
						<view class="u-flex cells">
							<text class="labels">申请时间:</text>
							<text class="cm_text"> 123123123</text>
							<view class="f1"></view>
							<text class="status">提现中</text>
						</view>
					</view>
					<view class="itemContent u-flex">
						<view class="f1">
							<view class="u-flex cells">
								<text class="labels">申请人:</text>
								<text class="cm_text"> 123123123</text>
								<view class="f1"></view>
							</view>
							<view class="u-flex cells">
								<text class="labels">提现类型:</text>
								<text class="cm_text"> 123123123</text>
								<view class="f1"></view>
							</view>
							<view class="u-flex cells">
								<text class="labels">提现账号:</text>
								<text class="cm_text"> 123123123</text>
								<view class="f1"></view>
							</view>
						</view>
						<text class="price">-200</text>
					</view>
					<view class="itemFooter">
						<view class="u-flex cells">
							<text class="labels">申请人:</text>
							<text class="price"> 800</text>
							<view class="f1"></view>
						</view>
					</view>
				</view>
			</block>

			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>
		</view>

		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
		<!-- <view class="footer saveBottom">
			<view class="flex footerBar">
				<view class="">扣<text style="color: #EE7F48;">6</text>分</view>
				<view style="margin-left: 30rpx;">罚款<text style="color: #EE7F48;">6</text>元</view>
				<view class="f1"></view>
				<u-button shape="circle" class="btns" @click="_nav" type="primary">
					立即处理</u-button>
			</view>
		</view> -->
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'GetOrderList',
				hasRow: 'Rows',
				formParams: {
					"order_status": 0,
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				tabs: [{
						name: '待处理'
					},
					{
						name: '自行处理'
					}, {
						name: '其他处理'
					},
				],
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: '',
				currentTab: 0,
				lists: [1, 1, 1, 1]
			};
		},
		filters: {
			time(val) {

				return val.split(' ')[0]
			},
			study(val) {
				// console.log(val)
				let s = parseInt(val);
				return s
			}
		},
		onLoad(options) {
			// this._loadData('refresh')
		},
		methods: {
			_nav() {
				uni.navigateTo({
					url: '/pages/center/violationDetail/violationDetail'
				})
			},
			change(index) {
				this.currentTab = index;
				this.formParams.order_status = index;
				this.lists = [];
				this._loadData('refresh')
			},

			async _agreeRefund(needEms) {
				// alert(needEms)
				let that = this;
				if (needEms && !this.ems_code) {
					this.$ui.toast('请输入物流单号')
					return;
				}
				this.refundModal = false
				try {
					// this.$ui.showloading();	
					let data = {
						order_code: this.currentCode
					}
					if (needEms) data.ems_code = this.ems_code
					let res = await this.$api.ApplyRefund(data, false);
					// this.$ui.hideloading();
					if (res.Success) {

						that.$ui.toast('退货申请成功')
						setTimeout(() => {
							// that._loadData('refresh');
							that._refresh()
						}, 1000)
					} else {
						that.$ui.toast(res.Msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			async _sure() {
				let that = this;
				try {
					// this.$ui.showloading();	
					let data = {
						order_code: this.currentCode
					}
					let res = await this.$api.Receiving(data, false);
					// this.$ui.hideloading();
					if (res.Success) {

						that.$ui.toast('收货成功')
						setTimeout(() => {
							that._refresh()
						}, 1000)
					} else {
						that.$ui.toast(res.Msg)
					}
					if (callback) callback();
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			async _cancel() {
				let that = this;
				try {
					// this.$ui.showloading();	
					let data = {
						order_code: this.currentCode
					}
					let res = await this.$api.CancelOrder(data, false);
					// this.$ui.hideloading();
					if (res.Success) {

						that.$ui.toast('取消成功')
						setTimeout(() => {
							// that._loadData('refresh');
							that._refresh()
						}, 1000)
					} else {
						that.$ui.toast(res.Msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		// padding-top: 80rpx;
		// padding-bottom: 180rpx;

		// .header {
		// 	position: fixed;
		// 	left: 0;
		// 	top: 0;
		// 	width: 100vw;
		// 	z-index: 10;
		// }

		.listBoxs {
			// padding: 32rpx;
			width: 100%;
			
			// background-color: #fff;
			
			.orderItemsBox {
				// border-radius: 16rpx;
				background-color: #fff;
				// padding: 30rpx;
				padding: 0 30rpx;
				margin-top: 16rpx;
				

				.itemheader {
					padding: 40rpx 0 20rpx 0;
					border-bottom: 1rpx solid #f4f4f4;
				}

				.itemContent {
					padding-bottom: 30rpx;
					border-bottom: 1rpx solid #f4f4f4;
				}

				.price {
					font-size: 32rpx;
					font-weight: bolder;
					color: #2F96F3;
				}

				.in {
					color: #EA5051
				}

				.out {
					color: #2D9E6E
				}
				.cells{
					height: 80rpx;
					line-height: 80rpx;
				}
				.labels{
					width: 140rpx;
				}
			}

			// background-color: #fff;

			// margin-top: 20rpx;

		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #fff;

			.footerBar {
				padding: 16rpx 20rpx;
			}

			.btns {
				margin-left: 16rpx;
			}
		}
	}
</style>
