<template>
	<view class="pages">
	<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
		<u-empty mode="order"></u-empty>
	</view>
	<view class="listBoxs" v-else>
		<block v-for="(item,index) in  lists" :key="index">
			  <CarBeautItems  :item="item" />
		</block>
	
		<view class="u-flex" style="height: 80rpx;">
			<u-loadmore :status="loadStatus" />
		</view>
	</view>
	
	<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
	<u-toast ref="uToast" />
	</view>
</template>

<script>
	
	import CarBeautItems from '@/components/CarBeautItems.vue'
	import {
		mapState
	} from 'vuex'
	export default {
		data() {
			return {
				baseKey: 'GetBeautySite',
				// hasRow: 'rows',
				formParams: {
					longitude: '',
					latitude: '',
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				onBottom: true,
				onTop: true,
			};
		},
		components: {
			CarBeautItems, 
		},
		computed: {
			...mapState({
				// 箭头函数使代码更简练 
				location: state => state.rent.location,
			}),
		 
		
		},
		onLoad() {
			this.formParams.latitude = this.location.latitude || 0;
			this.formParams.longitude = this.location.longitude || 0
			this._loadData('refresh')
		},

	}
</script>

<style lang="scss" scoped>
	.pages {
		padding: 20rpx;
	}
</style>
