<template>
	<view class="pages">
		<view class="logoBox"> 
			<image :src="detail.site_logo" mode="widthFix" class="logo"></image>
		</view>
		
		<view class="boxs" style="margin-top: -66rpx;">
			<view class="cm_boxs" >
				<view class="title" style="text-align: left;">{{detail.site_name}}</view>
				<view class="u-flex" style="margin-top: 20rpx;">
					<u-icon name="clock" color="#999" size="32"></u-icon> 
					<view class="f1 cm_time" style="margin-left: 20rpx;">{{ detail.sale_time }}</view> 
				</view>
			<!-- 	<view class="u-flex" style="margin-top: 10rpx;">
					<u-icon name="map" color="#999" size="40"></u-icon> 
					<view class="f1 cm_time">{{ detail.describe }}</view> 
				</view> -->
				<view class="u-flex " style="margin-top: 20rpx;">
					<u-icon name="bell" color="#999" size="32"></u-icon> 
					<view class="f1 cm_time" style="margin-left: 20rpx;">{{ detail.site_mobile }}</view>
					<u-button shape="circle" size="mini" @click="_call(detail.site_mobile)" type="default">
						致电</u-button>
				</view>
				<view class="u-flex locations" style="margin-top: 20rpx;" @click="locaTO">
					<u-icon name="map-fill" color="#EE7F48" size="40"></u-icon> 
					<view class="f1 cm_time" style="margin-left: 20rpx;color:#EE7F48">{{ detail.site_address }}</view>
					<text style=" color:#EE7F48">立即导航</text>
					<u-icon name="arrow-right" color="#EE7F48" size="24"></u-icon>
				</view>
				 
			</view>
			<view class="cm_boxs">
				<view class="cm_title">门店实景</view>
				<view class="u-flex picBox">
					 <image  mode="aspectFill" @click="preview(item.src)" v-for="(item,index) in banner" class="picsItems" :key="index" :src="item.src"></image>
					 
					<view class="f1"></view>
				</view>
			</view>
		</view>
		
		
		


	
		
	</view>
</template>

<script>
	 
	export default {
		data() {
			return {
				detail:{},
				banner:[],
				from:''
			};
		},
		onLoad(options){
			let id = options.id
			this.from = options.from || ''
			// debugger
			this.loadData(id) 
			
		},
		 
		methods: {
			locaTO(){
				uni.openLocation({
				            latitude: this.detail.latitude,
				            longitude: this.detail.longitude,
				            success: function () {
				                console.log('success');
				            }
				        });
			},
			preview(current, ) {
				// debugger
				let urls = this.banner.map(it=>it.src)
				// debugger
				if (urls.length && urls.indexOf(current) >= 0) {
					let index = urls.indexOf(current)
					uni.previewImage({
						urls: urls,
						current: index,
					});
				}
			
			},
			handle(){},
			cancel(){
				this.$refs.autoAddress._hide()
			},
			show(){
				
				if(this.from === 'createOrder'){
						this.$store.commit('rent/saveRentCar',this.detail);
						uni.navigateBack({
							delta:2
						})
					return;
				}
				this.$refs.autoAddress._show()
			},
			async loadData(id){
				// debugger
					this.$ui.showloading()
					try{
						
						const res  = await this.$api.Business.GetSiteDetail({site_code:id})
						// debugger
						this.detail = res
						// debugger
						let str = res.site_banner_img.replace(/\'/g,'\"')
						// debugger
						this.banner = JSON.parse(str)  
					}catch(e){
						//TODO handle the exception
						console.log(e)
						// debugger
					}
					this.$ui.hideloading()
			},
			submit() {
				
				this.$refs.autoAddress._hide()
				this.$store.commit('rent/saveRentCar',this.detail);
				setTimeout(()=>{
					uni.navigateTo({
						url:'/pages/features/createOder/createOder'
					})
				},1000)
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 100rpx;
		.logo{
			width: 100%;
			height: auto;
		}
		.boxs{
			padding: 20rpx;
			width: 100%;
			position: relative;
			z-index: 1;
			.cm_boxs{
				border-radius: 20rpx;
			}
		}
		.picBox{
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.picsItems{
			width: 48%; 
			height: 200rpx;
			margin-bottom: 20rpx;
		}
		.locations{
			height: 88rpx;
			background: #fdfaf7;
			border-radius: 10rpx;
			padding: 20rpx 10rpx;
			// margin-top: 10rpx;
		}
	}
</style>
