<template>
	<view class="pages">
		<view class="header flex">
			<navigator url="../../features/citySelect/citySelect">
				<view style="padding:0 10rpx ;">{{rentArea.area_code?rentArea.area_name:'选择城市'}}</view>
			</navigator>

			<u-icon name="arrow-down" color="#333333" size="28"></u-icon>
			<view class="f1" style="margin-left: 20rpx;">
				<u-search circle placeholder="请输入想要找的取还车地址" clearabled @clear="search" @custom="search" @search="search"
					v-model="keyword"></u-search>
			</view>
		</view>

		<!-- <view class=" top">
			<view class="u-flex">
			<text>当前定位</text>
			<view class="f1"></view> 
			<image src="../../../static/images/cs_dw.png" mode="aspectFill" class="stepIcon"></image>
			<text class="stips" @click="reLocation">重新定位</text>
			</view>
			<view v-if="currenAddress">{{currenAddress}}</view>
		</view> -->
	 
		<view class="resultBox" v-if="rentAdressList">
			<view class=" cm_title">附近网点</view>
			<view class="result"  v-if="rentAdressList.length>0">
				<view class=" u-flex items" v-for="(item,index) in rentAdressList" :key="index" @click="_href(`/pages/features/addressDetail/addressDetail?id=${item.site_code}`)">
					<image :src="item.site_logo" mode="aspectFill" class='cm_icons'></image>
					<view class="f1">
						<view class="u-flex label">
							<view class="">网点名称: {{item.site_name}}</view>
							<view class="f1"></view>
							<text>{{item.area}}</text>
						</view>
						<view class="label">网点地址: {{item.site_address}}</view>
						<view class="label">营业时间: {{item.sale_time}}</view>
						<view class="footer u-flex">
							<view class="f1"></view>
							<u-button shape="circle" @click="choose(item)" size="mini" type="default"
								style="margin-right: 16rpx;">选择地址</u-button>
							<u-button shape="circle" @click="_call(item.site_mobile)" size="mini" type="primary">立即致电
							</u-button>

						</view>
					</view>
				</view>
			</view>
			<view class="result" v-else >
				<u-empty text="没有发现可用网点" mode="list"></u-empty>
			</view>

		</view>
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	export default {
		data() {
			return {
				keyword: '',
				action: 'rent/selectStartAddress',
				currenAddress: ''
			};
		},
		onLoad(options) {
			this.action = options.dispatch
			// debugger
		},
		computed: {
			...mapState({
				// 箭头函数使代码更简练
				// rentTime: state => state.rent.rentTime,
				// rentDate: state => state.rent.rentDate,
				rentStartAddress: state => state.rent.rentStartAddress,
				rentAdressList: state => state.rent.rentAdressList,
				location: state => state.rent.location,
				rentArea: state => state.rent.rentArea,
			}),
		},
		onShow() {
			// this.$store.dispatch('rent/getServeSite',{Key:this.keyword})
			console.log(this.rentAdressList.length)
		},
		methods: {
			reLocation() {
				let that = this
				let data = {}
				if (this.location.longitude && this.location.latitude) {
					data = {
						longitude: this.location.longitude,
						latitude: this.location.latitude,
						keyword: that.keyword
					}
				}
				// debugger
				uni.chooseLocation({
					...data,
					success: function(res) {
						console.log('位置名称：', res)
						that.currenAddress = res.name
						that.$store.commit('rent/saveLocation', {
							longitude: res.longitude,
							latitude: res.latitude,
							Key: that.keyword
						})
					},
					fail(err) {
						console.log(err)
					}
				});


				// uni.navigateTo({
				// 	url:'/pages/features/mapLocation/mapLocation'
				// })
			},
			search(value) {
				// debugger
				this.$store.dispatch('rent/getServeSite', {
					Key: this.keyword
				})
			},
			choose(item) {
				let that = this
				// debugger
				this.$store.commit(that.action, {
					...item
				})
				// debugger
				setTimeout(() => {
					uni.navigateBack({

					})
				}, 500)
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.header {
			width: 100%;
			height: 88rpx;
			background: #fff;
			padding: 0 30rpx;
		}

		.top {
			background: #fff;
			padding: 0 30rpx;
			line-height: 104rpx;
			min-height: 104rpx;

			.stepIcon {
				width: 32rpx;
				height: 32rpx;
				margin-right: 10rpx;
			}

			.stips {
				color: #EE7F48;
				font-size: 24rpx;
			}
		}

		.resultBox {
			padding: 0 20rpx;
			margin-top: 20rpx;

			.cm_title {
				line-height: 3;
			}

			.items {
				background-color: #fff;
				padding: 30rpx 20rpx;
				border-radius: 16rpx;
				margin-bottom: 16rpx;
				align-items: flex-start;

				.label {
					line-height: 1.4;
					padding: 20rpx 0;
					// height: 80rpx;
				}

				.footer {
					border-top: 1rpx solid #f1f1f1;
					padding-top: 16rpx;
				}
			}
		}


	}
</style>
