<template>
	<view class="pages">
		<!-- <view class="header flex">
			<view class="f1">

				<u-search circle placeholder="请输入想要找的城市" clearabled v-model="keyword" ></u-search>
			</view>
		</view> -->
		<view class=" top">
			<view class="u-flex">
			<text>当前城市：{{rentArea.area_name}}</text>
			<view class="f1"></view> 
			<image src="../../../static/images/cs_dw.png" mode="aspectFill" class="stepIcon"></image>
			<text class="stips" @click="reLocation">重新定位</text>
			</view>
			<view v-if="currenAddress" class="currentAddress">{{currenAddress}}</view>
		</view>
	<!-- 	<view class="u-flex top">
			<text>当前城市：{{rentArea.area_name}}</text>
			<view class="f1"></view> 
		</view> -->
		<view class="hotBox">
			<view class="cm_title">热门城市</view>
			<view class="hotBar">
				<u-row gutter="16">
					<u-col span="3" v-for="(item,index) in hotList" :key="index">
						<view class="hotCitys" @click="choosecity(item)" :class="rentArea.area_code==item.area_code?'active':''">{{item.area_name}}</view>
					</u-col> 
				</u-row>

			</view>
		</view>
		<view class="indexlistBar">
			<u-index-list :scrollTop="scrollTop" :index-list="indexList">
				<view v-for="(item, index) in cityList" :key="index">
					<u-index-anchor :index="item.mark" />
					<view v-for="(it, ind) in item.child" :key="ind">
						<view class="list-cell"  @click="choosecity(it)">						
							{{it.area_name}}
						</view>
					</view> 
				</view>
			</u-index-list>

		</view>


	</view>
</template>



<script>
 import {
 	mapState
 } from 'vuex'
	export default {
		data() {
			return {
				scrollTop:0,
				keyword: '',
				currenAddress:''
			};
		},
		computed: {
			...mapState({
				// 箭头函数使代码更简练
				hotList: state => state.rent.hotList,
				cityList: state => state.rent.cityList,
				location: state => state.rent.location, 
				rentArea: state => state.rent.rentArea,
			}),
			indexList(){
				return this.cityList.length?this.cityList.map(it=>it.mark):[]
			}
		
		},
		onPageScroll(e) {
					this.scrollTop = e.scrollTop;
				},
		onLoad(){
			console.log(this.hotList)
		},
		 
		methods:{
			choosecity(item){
				// debugger
				if(this.rentArea.area_code!=item.area_code){
					// debugger
					this.$store.commit('rent/saveRentCity',item)
					
					if(!this.location.longitude ||!this.location.latitude ){
						uni.showModal({
							title: '需要获取您的位置信息',
							content: '前往设置',
							showCancel: false,
							success() {
								uni.openSetting({ })
							}
						})
						return  
					}
					
					this.$store.dispatch('rent/getServeSite',{callback:()=>{
						uni.navigateBack( )
					}})
					
				}
			},
			reLocation(){
				let that  = this
				let data = {}
				
				uni.getSetting({
					success(res) {
						console.log(res.authSetting)
						if (res.authSetting['scope.userLocation']) {
							 if(that.location.longitude && that.location.latitude){
							 	data = {
							 		longitude:that.location.longitude,
							 		latitude:that.location.latitude,
							 		keyword:that.keyword}
							 }
							 // debugger
							 uni.chooseLocation({
							 	...data,
							     success: function (res) {
							         console.log('位置名称：' ,res)
							 		that.currenAddress = res.name
							 		that.$store.commit('rent/saveLocation',{longitude:res.longitude,latitude:res.latitude,Key:that.keyword})
							 		 
							 		// that.$store.dispatch('rent/getCitys', {
							 		// 	longitude: res.longitude,
							 		// 	latitude: res.latitude
							 		// })
							 	},
							 	fail(err){
							 		console.log(err)
							 	}
							 });
							 
						} else {
							uni.showModal({
								title: '需要获取您的位置信息',
								content: '前往设置',
								showCancel: false,
								success() {
									uni.openSetting({
				
									})
								}
							})
				
						}
					}
				})
				
				
				
				
				
				// uni.navigateTo({
				// 	url:'/pages/features/mapLocation/mapLocation'
				// })
			},
		}
	}
</script>

<style lang="scss">
	.pages {
		.header {
			width: 100%;
			height: 88rpx;
			background: #fff;
			padding: 0 30rpx;
		}

		.top {
			background: #fff;
			padding: 0 30rpx;
			line-height: 104rpx;
			min-height: 104rpx;
			.currentAddress{
			    color: #39aee4;
			    border-top: 1rpx dashed #f1f1f1;
			}
			.stepIcon {
				width: 32rpx;
				height: 32rpx;
				margin-right: 10rpx;
			}

			.stips {
				color: #EE7F48;
				font-size: 24rpx;
			}
		}

		.hotBox {
			padding: 0 30rpx 30rpx 30rpx;

			.cm_title {
				line-height: 3;
			}

			.hotBar {
				margin-left: -8rpx;
				margin-right: -8rpx;
			}

			.hotCitys {
				height: 72rpx;
				line-height: 72rpx;
				border-radius: 8rpx;
				background-color: #fff;
				text-align: center;
				margin-bottom: 16rpx;
			}
			.active{
				color: #fff;
				background-color: $uni-color-primary;
			}
		}

		.indexlistBar {
			background-color: #fff;

		}
	}

	.u-index-anchor {
		background-color: #fff !important;
	}
	.list-cell{
		padding: 20rpx;
		border-bottom: 1rpx solid #f1f1f1;
		
	}
</style>
