<template>
	<view class="components">
		<view class="result u-flex" :style="customstyle">
			<view class="timeBox">
				<view class="cm_title">{{rentDate[0]?rentDate[0].text:'--'}}</view>
				<view class="cm_text">{{rentDate[0]? weeks[rentDate[0].week]  :' '}} {{rentTime[0]}}</view>
			</view>
			<view class="f1">
				<view class="cm_text">{{rangDays}}</view>
				<view class="line"></view>
			</view>
			<view class="timeBox">
		
				<view class="cm_title">{{rentDate[1]?rentDate[1].text:'--'}}</view>
				<view class="cm_text">{{rentDate[1]?weeks[rentDate[1].week]:' '}} {{rentTime[1]}}</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name:"RentingTime",
		data() {
			return {
				weeks:['','周一', '周二', '周三', '周四', '周五', '周六', '周日']
			};
		},
		props:{
			customstyle:{
				type:String,
				default:"background:#f8f8f8"
			},
			rentTime:{
				type:Array,
				default:['8:00','12:00']
			},
			rentDate:{
				type:Array,
				default:[]
			}
		},
		computed:{
			rangDays(){
				let days=  this.rentDate.length==2?  (this.rentDate[1].time - this.rentDate[0].time)/(1*24*60*60*1000)+'天':'';
				   // alert(days);
				return  days;
			}
		}
	}
</script>

<style lang="scss" scoped>
	.components{
		.timeBox{
			width: 23%;
		}
		.result {
			background-color: #f8f8f8;
			padding: 20rpx;
			border-radius: 12rpx;
			text-align: center;
			// margin-bottom: 80rpx;
		
			.cm_title {
				line-height: 2;
			}
		
			.line {
				width: 70%;
				height: 1rpx;
				background-color: #b4b4b4;
		
				margin: 0 auto;
				margin-top: 20rpx;
				box-sizing: border-box;
			}
		}
	}
</style>
