<template>
	<view class="pages ">
		<view class="header ">
			<view class=" block" style="padding:20rpx 20rpx 0 20rpx;">
				<u-search circle placeholder="请输入想要找的商品、服务、保险" clearabled v-model="form.car_name" @clear="search"  @custom="search" @search="search" ></u-search>
			</view>
			<view class="filterBox ">
				<u-dropdown active-color="#EE7F48" ref="uDropdown">
					<u-dropdown-item v-model="form.car_sort_type" title="综合排序" :options="options"></u-dropdown-item>
					<u-dropdown-item title="车辆品牌">
						<view class="slot-content" style="background-color: #FFFFFF;">
							<scroll-view scroll-y="true" style="height: 748rpx;">
								<view class=" carBrandBar">
									<view v-for="(item,index) in GlobalSet.brand_tree" :key="index">
										<view class="carMark">{{item.label}}</view>
										<view class="u-flex">
											<view class=" carBrand u-flex"
												:class="form.brand_code==it.value?'active':''"
												@click="choose(it,'brand_code')" v-for="(it,ind) in item.child"
												:key="ind">
												<image :src="it.img" mode="scaleToFill" class="icons"> </image>
												<view class="grid-text">{{it.label}}</view>
											</view>
											<view class="f1"></view>
										</view>

									</view>
								</view>
							</scroll-view>
							<view class="footer u-flex">
								<view class="f1 btns" @click="reset">重置</view>
								<!-- <u-button class="f1" type="primary" @click="closeDropdown">保存</u-button> -->
								<view class="f1 btns sure" @click="save">保存</view>
							</view>
						</view>
					</u-dropdown-item>
					<u-dropdown-item title="价格">
						<view class="slot-content" style="background-color: #FFFFFF;">
							<scroll-view scroll-y="true" style="height: 748rpx;">
								<view class="filteritems">
									<view class="cm_title">车价</view>
									<view class="u-flex carBrandBar">
										<view class="carBrand u-flex"
											:class="form.car_price_sort==item.value ?'active':''"
											@click="choose(item,'car_price_sort')"
											v-for="(item,index) in GlobalSet.car_price_sort" :key="item.value">
											<view class="grid-text">{{item.text}}</view>
										</view>
										<view class="f1"></view>
									</view>
								</view>

								<view class="filteritems">
									<view class="cm_title">首付</view>
									<view class="u-flex carBrandBar">
										<view class=" carBrand u-flex"
											:class="form.car_first_price_sort==item.value?'active':''"
											@click="choose(item,'car_first_price_sort')"
											v-for="(item,index) in GlobalSet.car_first_price_sort" :key="item.value">
											<view class="grid-text">{{item.text}}</view>
										</view>

										<view class="f1"></view>
									</view>
								</view>
							</scroll-view>
							<view class="footer">
								共<text style="color: #EE7F48;">{{total}}</text>车型可选
							</view>
							<view class="footer u-flex">
								<view class="f1 btns" @click="reset">重置</view>
								<!-- <u-button class="f1" type="primary" @click="closeDropdown">保存</u-button> -->
								<view class="f1 btns sure" @click="save">保存</view>
							</view>
						</view>
					</u-dropdown-item>

					<u-dropdown-item title="筛选">
						<view class="slot-content" style="background-color: #FFFFFF;">
							<scroll-view scroll-y="true" style="height: 748rpx;">
								<view class="filteritems">
									<view class="cm_title">车龄</view>
									<view class="u-flex carBrandBar">
										<view class="carBrand u-flex" :class="form.car_age_sort==item.value?'active':''"
											@click="choose(item,'car_age_sort')"
											v-for="(item,index) in GlobalSet.car_age_sort" :key="item.value">
											<view class="grid-text">{{item.text}}</view>
										</view>
										<view class="f1"></view>
									</view>
								</view>
								<view class="filteritems">
									<view class="cm_title">里程</view>
									<view class="u-flex carBrandBar">
										<view class=" carBrand u-flex"
											:class="form.car_range_sort==item.value?'active':''"
											@click="choose(item,'car_range_sort')"
											v-for="(item,index) in GlobalSet.car_range_sort" :key="item.value">
											<view class="grid-text">{{item.text}}</view>
										</view>
										<view class="f1"></view>
									</view>
								</view>
								<view class="filteritems">
									<view class="cm_title">变速箱</view>
									<view class="u-flex carBrandBar">
										<view class=" carBrand u-flex" :class="form.car_gears==item.value?'active':''"
											@click="choose(item,'car_gears')"
											v-for="(item,index) in GlobalSet.car_gears" :key="item.value">
											<view class="grid-text">{{item.text}}</view>
										</view>

										<view class="f1"></view>
									</view>
								</view>
								<!-- <view class="filteritems">
									<view class="cm_title">排量</view>
									<view class="u-flex carBrandBar">
										<view class=" carBrand u-flex" :class="form.car_gears==item.value?'active':''"
											@click="choose(item,'car_gears')"
											v-for="(item,index) in GlobalSet.car_gears" :key="item.value">
											<view class="grid-text">{{item.text}}</view>
										</view>

										<view class="f1"></view>
									</view>
								</view> -->

							</scroll-view>
							<view class="footer">
								共<text style="color: #EE7F48;">{{total}}</text>车型可选
							</view>
							<view class="footer u-flex">
								<view class="f1 btns" @click="reset">重置</view>
								<!-- <u-button class="f1" type="primary" @click="closeDropdown">保存</u-button> -->
								<view class="f1 btns sure" @click="save">保存</view>
							</view>
						</view>
					</u-dropdown-item>
				</u-dropdown>
			</view>
		</view>

		<view class="cm_full u-flex-y" v-if="carlist.length<=0 && loadStatus!='loading'">
			<u-empty mode="order"></u-empty>
		</view>
		<view class=" carPanel" v-else>
			<block v-for="(item,index) in carlist" :key="item.value">
				<CarListItems :item="item" />
			</block>
		</view>
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	const GlobalSet = uni.getStorageSync('GlobalSet');
	import CarListItems from '@/components/CarListItems.vue'
	export default {
		data() {
			return {
				carlist: [],
				GlobalSet: GlobalSet,
				hasRow: 'rows',
				form: {
					pageIndex: 1,
					pageSize: 15,
					car_name: '',
					"brand_code": "", //车辆品牌

					car_sort_type: '0',
					car_price_sort: '0', //车价
					car_first_price_sort: '0', //首付
					car_age_sort: '0', //车龄
					car_range_sort: '0', //里程
					car_gears:'',
					price_sort: '0',
					search_sort: '',
				},
				total: 0
			};
		},
		onLoad() {
			const sys = uni.getSystemInfoSync()
			console.log(sys)
		},
		computed: {
			...mapState({
				// 箭头函数使代码更简练 			
				rentTime: state => state.rent.rentTime,
				rentDate: state => state.rent.rentDate,
			}),
			options() {
				return GlobalSet.car_sort_type.map(item => {
					return {
						label: item.text,
						value: item.value
					}
				})
			},
			optionsPrice() {
				return GlobalSet.car_price_sort.map(item => {
					return {
						label: item.text,
						value: item.value
					}
				})
			}
		},
		components: {
			CarListItems
		},
		onLoad() {
			this.loadData('refresh')
		},
		methods: {
			search(value){
				// debugger
				// this.$store.dispatch('rent/getServeSite',{Key:this.keyword})
				this.loadData('refresh')
			},
			reset() {
				this.form = {
					pageIndex: 1,
					pageSize: 15,
					car_name: '',
					"brand_code": "", //车辆品牌
					
					car_sort_type: '0',
					car_price_sort: '0', //车价
					car_first_price_sort: '0', //首付
					car_age_sort: '0', //车龄
					car_range_sort: '0', //里程
					car_gears:'',
					price_sort: '0',
					search_sort: '',
				}
			},
			save() {
				this.loadData('refresh')
				this.$refs.uDropdown.close();
			},
			sort(e) {
				// console.log(e)
				debugger
				if (this.form['car_sort_type'] != e) {
					// debugger
					this.form['car_sort_type'] = e
					this.loadData('refresh')
				}
			},
			choose(item, pro) {
				// debugger
				if (this.form[pro] === item.value) {
					this.form[pro] = ''
				} else {
					this.form[pro] = item.value
				}

			},
			tab(item) {
				if (!item) {
					this.form['car_type'] = ''
					return
				}
				if (this.form['car_type'] != item.value) {
					this.form['car_type'] = item.value
					this.loadData('refresh')
				}
			},
			async loadData(type) {
				try {
					let res = await this.$api.Business.GetSellCar(this.form);
					console.log(res)
					let that = this
					// this.carlist = res.rows
					this.total = res.total

					if (type == 'add') {
						// 加载更多v
						that.carlist = that.carlist.concat(res.rows);
						if (res.rows.length < that.form.pageSize) {
							that.loadStatus = 'noMore';
							// 没有数据了
						} else {
							that.loadStatus = 'more';
						}
					} else {
						// 刷新v
						that.carlist = res.rows;
						if (res.rows.length < that.form.pageSize) {
							that.loadStatus = 'noMore';
							// 没有数据了
						} else {
							that.loadStatus = 'more';
						}
						// that.refreshing = false
					}

				} catch (e) {
					//TODO handle the exception
				}
			},

		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		background-color: #fff;
		padding-top: 164rpx;

		.header {
			width: 100%;
			// padding: 20rpx;
			position: fixed;
			left: 0;
			top: 0;
			background-color: #fff;
			z-index: 100;

			.result {
				background-color: #f8f8f8;
				padding: 20rpx;
				border-radius: 12rpx;
				text-align: center;
				width: 100%;

				.cm_title {
					line-height: 2;
				}

				.line {
					width: 70%;
					height: 1rpx;
					background-color: #b4b4b4;

					margin: 0 auto;
					margin-top: 20rpx;
					box-sizing: border-box;
				}
			}

		}

		.filterBox {
			width: 100%;

			.carBrandBar {
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 0 20rpx;

				.carBrand {
					width: 214rpx;
					text-align: center;
					// padding: 20rpx;
					height: 72rpx;
					line-height: 72rpx;
					border-radius: 8rpx;
					background-color: #F4F5F6;
					margin-bottom: 16rpx;
					margin-left: 10rpx;
					margin-right: 10rpx;

					.icons {
						width: 40rpx;
						height: 40rpx;
						margin-right: 16rpx;
					}
				}

				.active {
					background: #EE7F48 !important;
					color: #fff;
				}
			}

			.filteritems {
				.cm_title {
					line-height: 2;
					padding-left: 30rpx;
					margin-bottom: 20rpx;
				}
			}

			.footer {
				height: 98rpx;
				width: 100%;
				line-height: 98rpx;
				text-align: center;

				.btns {
					height: 98rpx;
					line-height: 98rpx;
					text-align: center;
					background-color: #f8f8f8;
				}

				.sure {
					background: #EE7F48 !important;
					color: #fff;
				}
			}
		}

		.carPanel {
			width: 100%;
			border-top: 1rpx solid #f8f8f8;
			// padding-top: 180rpx;

			.left {
				width: 188rpx;
				height: 100%;

				.leftItems {
					height: 98rpx;
					line-height: 98rpx;
					text-align: center;
					border-bottom: 1rpx solid #f8f8f8;
				}

				.active {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 12rpx;
						height: 100%;
						background-color: #EE7F48;
					}
				}
			}

			.right {
				height: 100%;
				background: #f8f8f8;
				padding: 16rpx;

				.content {
					// .CarListItems {
					// 	padding: 20rpx;
					// 	background-color: #fff;
					// 	margin-bottom: 16rpx;
					// 	border-radius: 12rpx;

					// 	.pics {
					// 		width: 210rpx;
					// 		height: 118rpx;
					// 		margin-right: 24rpx;
					// 		background: #f1f1f1;
					// 	}

					// 	.title {
					// 		font-weight: 600;
					// 		line-height: 2;
					// 	}
					// }

					// .CarListItemsFooter {
					// 	padding-top: 16rpx;
					// 	margin-top: 16rpx;
					// 	border-top: 1rpx solid #f8f8f8;
					// }
				}
			}
		}

	}

	.u-dropdown__content {
		position: fixed !important;
	}
</style>
