<template>
	<view class="pages">
		<view class="header flex">
			<view class="f1">

				<u-search circle placeholder="请输入想要找的商品、服务、保险" clearabled  @search="search" @custom="search" v-model="formParams.car_name"></u-search>
			</view>
		</view>
		<navigator url="/pages/role/wxLogin/wxLogin" v-if="!hasLogin" class="loginTip flex">
			<text class="login_area">立即登录账户，享受便捷租车服务</text>
		
			<view class="f1"></view>
			<u-icon name="arrow-right" color="#ff742f" size="28"></u-icon>
		</navigator>
		<view class="banner">
			<u-swiper :border-radius="0"  name="link_file" :list="banners" @click="click" :effect3d="false" :height="360"></u-swiper>
		</view>
		<view class="boxs">
			<view class="u-flex tipsBpx">
				<view class="f1 u-flex">
					<image src="../../../static/images/mc_bz.png" mode="aspectFill" class="tips"></image>
					<text style="color:#C48847;font-size: 22rpx;">30天全面保障</text>
				</view>
				<view class="f1 u-flex">
					<image src="../../../static/images/mc_bz.png" mode="aspectFill" class="tips"></image>
					<text style="color:#C48847;font-size: 22rpx;">7天无理由退车</text>
				</view>
				<view class="f1 u-flex">
					<image src="../../../static/images/mc_bz.png" mode="aspectFill" class="tips"></image>
					<text style="color:#C48847;font-size: 22rpx;">7天无理由换车</text>
				</view>
			</view>
			<view style="padding: 10rpx 0;">
				<u-grid :col="4" :border="false">
					<u-grid-item @click="_href('/pages/usedCars/cars/cars')">
						<!-- <u-avatar src="../../../static/images/sy_bm.png" :size="90"></u-avatar> -->
						<image src="../../../static/images/mc_esc.png" mode="scaleToFill"
							style="width: 90rpx;height: 90rpx;margin-bottom: 10rpx;"></image>
						<view class="grid-text">二手车</view>
					</u-grid-item>
					<u-grid-item @click="_auth_href('/pages/usedCars/beautifulCars/beautifulCars')">
						<!-- <u-avatar src="../../../static/images/sy_xx.png" :size="90"></u-avatar> -->
						<image src="../../../static/images/mc_mr.png" mode="scaleToFill"
							style="width: 90rpx;height: 90rpx;margin-bottom: 10rpx;"></image>
						<view class="grid-text">车辆美容</view>
					</u-grid-item>
					<u-grid-item @click="_auth_href('/pages/features/classMate/classMate')">
						<!-- <u-avatar src="../../../static/images/sy_tx.png" :size="90"></u-avatar> -->
						<image src="../../../static/images/mc_bx.png" mode="scaleToFill"
							style="width: 90rpx;height: 90rpx;margin-bottom: 10rpx;"></image>
						<view class="grid-text">车辆保险</view>
					</u-grid-item>
					<u-grid-item @click="_auth_href('/pages/features/share/share')">
						<image src="../../../static/images/mc_wx.png" mode="scaleToFill"
							style="width: 90rpx;height: 90rpx;margin-bottom: 10rpx;"></image>
						<!-- <u-avatar src="../../../static/images/sy_zq.png" :size="90"></u-avatar> -->
						<view class="grid-text">车辆维修</view>
					</u-grid-item>
				</u-grid>
			</view>
		</view>

		<view class="carTitle">精选推荐</view>

		<view class="container u-flex">
			<view class="carBlocks" v-for="(item,index) in lists" :key="index" @click="_href(`/pages/usedCars/carDetail/carDetail?id=${item.car_code}`)">
				<image :src="item.car_main_img" class="previewImage" mode="aspectFill"></image>
				<view class="content">
					<view class="cm_title">{{item.car_name}}</view>
					<view class="cm_time">{{item.describe}}</view>
					<view class="u-flex priceBox">
						<text class="price">{{item.price}} </text>
						<text style="color:#EE7F48 ;"> {{item.first_price}}</text>
						<view class="f1"></view>
					</view>
				</view>
			</view>
			<view class="f1"></view>	
			
		</view>
		
		
		<u-loadmore :status="status" />
		<u-mask :show="show" @click="show = false">
			<view class="warp">
				<view class="rect u-flex-y" @click.stop>
					<view class="maskHeader">
						{{modalMsg.content}}
					</view>
					<view class="u-flex-1 u-flex-y">
						<image class="maskPic" :src="modalMsg.src" mode="widthFix"></image>
					</view>

				</view>
				<image src="../../../static/img/sy_gb.png" mode="scaleToFill" style="width: 100rpx;height: 100rpx;">
				</image>
			</view>
		</u-mask>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	const GlobalSet = uni.getStorageSync('GlobalSet');
	export default {
		data() {
			return {
				baseKey: 'GetSellCar',
				hasRow:'rows',
				show: false,
				banners: [ ],
				
				formParams: {
					car_name: '',
					brand_code: '',
					car_sort_type: '',
					car_price_sort_type: '1',
					car_search_sort_type: '',
					price_sort: '2',
					search_sort: '',
					pageIndex: 1,
					pageSize: 10
				}
			}
		},
		computed: {
			// 将vuex的state中的所有变量，解构到全局混入的mixin中
			// ...mapState(['currentAction', 'inBunding'])
		},
		onLoad(options) {
			
			this.initHome()
			this._loadData('refresh')
		},
		
		// onPullDownRefresh() {
		// 	this.listForm.date = 10;
		// 	this.lists = [];
		// 	this._loadList('refresh');
		// },
		// // 上拉加载
		// onReachBottom() {
		// 	if (this.loadStatus == 'noMore') {
		// 		return;
		// 	}
		// 	this.listForm.date += 3;
		// 	this.loadStatus = 'loading';
		// 	this._loadList('add');
		// 	// uni.$emit('uOnReachBottom')
		// },
		methods: {
			async initHome(){
				
				try{
					const res  =  await this.$api.Business.GetHome()
					// console.log(res)
					this.banners = res.lst_buy_baner
					// this.$store.commit('rent/selectStartAddress',res.car_site[0])
				}catch(e){
					// console.log(e)
					// debugger
					//TODO handle the exception
				}	
			},
			click(index) {
				// debugger
				this._config_href(this.banners[index]);

			},
			search(k){
				this.formParams.car_name =k
				this._loadData('refresh')
			},
			// // 二维码显示
			showModal(k) {
				switch (k) {
					case 1:
						if (!this.hasLogin) {
							this._login();
							break;
						}
						this.modalMsg = {
							content: '长按识别二维码，添加专属老师微信号进行报名',
							src: this.userInfo.consumer_qr_code
						}
						this.show = true
						break;
					case 2:
						this.modalMsg = {
							content: '长按识别二维码，关注微信公众号订阅开课通知',
							src: GlobalSet.RQ_CodeList[0].Text
						}
						this.show = true
						break;
					default:
						break;
				}
			}
		},
	}
</script>

<style lang="scss" scoped>
	.pages {
		width: 100vw;
		min-height: 100vh;
		padding-bottom: 80rpx;

		.header {
			height: 88rpx;
			width: 100vw;
			background-color: #fff;
			padding: 0 40rpx;
			position: sticky;
			top: 0;
			left: 0;
			z-index: 2;
		}
		
		.loginTip{
			height:66rpx;
			// width: 100vw;
			background-color: #fffdeb;
			// color: ;
			padding: 0 30rpx;
			position: sticky;
			top: 88rpx;
			left: 0;
			z-index: 2;
			.login_area{
				color: #ff742f;
			}
		}

		.banner {
			// margin-top: 20rpx;
			width: 100vw;
			height: 360rpx;
		}

		.boxs {
			width: 100%;
			background-color: #fff;
			position: 0 30rpx;

			.tipsBpx {
				font-size: 22rpx;
				border-bottom: 1rpx solid #f1f1f1;
				padding: 20rpx 0;

				.tips {
					width: 24rpx;
					height: 28rpx;
					margin-right: 8rpx;
					// margin-top: 10rpx;
				}
			}
		}


		.carTitle {
			margin-top: 40rpx;
			margin-bottom: 24rpx;
			text-align: center;
			font-size: 32rpx;
			color: #333;
			font-weight: bolder;
		}

		.warp {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;

			.rect {
				width: 90vw;
				height: 790rpx;
				border-radius: 12rpx;
				overflow: hidden;
				background-color: #fff;

				.maskHeader {
					width: 100%;
					background: linear-gradient(to top, #248EE9, #54ABF6);
					padding: 32rpx 53rpx;
					color: #fff;
				}

				.maskPic {
					width: 476rpx;
					height: 476rpx;
					margin: 30rpx auto;
				}
			}
		}

		.container {
			flex-wrap: wrap;
			padding: 0 10rpx;
		}

		.carBlocks {
			width: 348rpx;
			height: 426rpx;
			border-radius: 12rpx;
			background-color: #fff;
			margin: 8rpx;

			.previewImage {
				width: 100%;
				height: 232rpx;
			}

			.content {
				padding: 20rpx;

				.priceBox {
					padding: 16rpx 0;

					.price {
						color: #EE7F48;
						font-size: 32rpx;
						margin-right: 16rpx;
						font-weight: 600;
					}
				}

				.cm_title,
				.cm_time {
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}

	}
</style>
