<template>
	<view class="pages">



		<view class="cm_boxs orderBox">

			<view class="cm_title">违章信息</view>

			<view class="rows u-flex  ">
				<view class="label">违章车辆</view>
				<view class="f1">{{detail.car_number}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">违章时间</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.penalty_time}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">违章行为</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.penalty_name}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">违章地点</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.penalty_add}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">执法大队</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1">{{detail.penalty_unit}}</view>
				<!-- <view class="label">￥320</view> -->
			</view>
		</view>

		<view class="cm_boxs orderBox">

			<view class="cm_title">违章处罚</view>

			<view class="rows u-flex  ">
				<view class="label">扣分情况</view>
				<view class="f1"><text style="color:#EE7F48 ;">{{detail.points_num}}</text>分</view>
				<!-- <view class="label">￥320</view> -->
			</view>
			<view class="rows u-flex  ">
				<view class="label">罚款金额</view>
				<!-- <u-icon name="question-circle" color="#999" size="28"></u-icon> -->
				<view class="f1"><text style="color:#EE7F48 ;">{{detail.fine_money}}</text>元</view>
				<!-- <view class="label">￥320</view> -->
			</view>
		</view>

		<!-- <view class="cm_boxs">
			<view class="cm_title">违章图片</view>
			<view class=" picsBox u-flex">
				<view class="picsItems u-flex-y" v-for="(item,index) in banner" :key="index" >
					<image :src="item.src" class="blankBox" mode="aspectFill" @click="preview(item.src)"></image>
				</view>
				 
				<view class="f1"></view>
			</view>
		</view> -->

		<view class="cm_boxs">
			<view class="cm_title">上传图片</view>
			<view class=" picsBox u-flex">
				<view class="picsItems " v-for="(item,index) in pics" :key="index">
					<image class="filtBox" @longpress="actions(item,index)" :src="item" @click="preview(item,pics)"
						mode="aspectFill"></image>

				</view>
				<view class="picsItems u-flex-y">
					<view class="blankBox u-flex-y" @click="readyUpload( )">
						<u-icon name="plus" color="#999" size="60"></u-icon>
					</view>
				</view>
				<!-- <view class="f1"></view> -->
			</view>
		</view>
		<view class="footer saveBottom">
			<view class=" footerBar">
				<u-button shape="circle" class="btns" @click="submit" type="primary">
					提交</u-button>

			</view>
		</view>
		<u-top-tips ref="uTips" :navbar-height="44"></u-top-tips>
		<u-toast ref="uToast" />

	</view>
</template>

<script>
	export default {
		data() {
			return {
				penalty_code: '',
				detail: {},
				pics: []
			};
		},
		onLoad(options) {
			this.penalty_code = options.id || ''
			this.loadData(this.penalty_code)
		},
		methods: {
			actions(item, index) {
				let that = this
				uni.showActionSheet({
					itemList: ['删除', '替换'],
					success(res) {
						console.log(res)
						if (res.tapIndex == 1) {
							uni.chooseImage({
								count: 1, //默认9
								sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
								// sourceType: ['album'], //从相册选择
								success: function(res) {
									console.log(res);

									that._upload(res.tempFilePaths)
										.then((src) => {
											console.log(src);
											let a = [...that.pics]
											a[index] = src
											that.pics = [...a]
										})
										.catch(err => {
											that.$refs.uToast.show({
												title: '上传失败' + err,
												type: 'error',
												position: 'bottom'
											})
										})
								}
							})
						} else {
							that.pics.splice(index, 1)
						}
					}
				})
			},
			preview(current) {
				let that = this
				console.log(this.pics,this.pics.indexOf(current) )
				if (this.pics.length > 0 && this.pics.indexOf(current) >= 0) {
					let index = this.pics.indexOf(current)
					debugger
					uni.previewImage({
						pics: that.pics,
						current: index,
					});
				}

			},
			async loadData(id) {
				// debugger
				this.$ui.showloading()
				try {

					const res = await this.$api.Business.GetRulesDetail({
						penalty_code: id
					})
					// debugger
					this.detail = res
					// debugger
					let str = res.penalty_img.replace(/\'/g, '\"')
					// debugger
					this.banner = JSON.parse(str)
				} catch (e) {
					//TODO handle the exception
					console.log(e)
					// debugger
				}
				this.$ui.hideloading()
			},
			async submit() {
				if (!this.pics.length > 0) {

					this.$refs.uTips.show({
						title: '请上传处理凭证',
						type: 'warning',
						duration: '1000'
					})
					return
				}

				this.$ui.showloading()
				try {

					const res = await this.$api.Business.DealRules({
						penalty_code: this.penalty_code,
						deal_img: this.pics.join()
					})

					uni.$emit('violation_refresh')

					this.$refs.uToast.show({
						title: '处理成功',
						type: 'success',
						position: 'bottom',
						back: true
					})
				} catch (e) {
					//TODO handle the exception
					console.log(e)
					// debugger
				}
				this.$ui.hideloading()
			},
			readyUpload(pro) {
				let that = this
				uni.chooseImage({
					count: 9, //默认9
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					// sourceType: ['album'], //从相册选择
					success: function(res) {
						console.log(res);

						that._arrayApload(res.tempFilePaths)
							.then((src) => {
								console.log(src);
								that.pics = that.pics.concat(src)
							})
							.catch(err => {
								that.$refs.uToast.show({
									title: '上传失败' + err,
									type: 'error',
									position: 'bottom'
								})
							})
					}
				})
			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 180rpx;


		.tabsBox {
			justify-content: space-around;
			background-color: #fff;
			padding: 24rpx 20rpx;

			.tabs {
				width: 162rpx;
				height: 110rpx;
				border-radius: 8rpx;
				background-color: #f1f2f3;
				line-height: 110rpx;
				text-align: center;

			}
		}

		.statusBox {
			width: 100%;
			height: 76rpx;
			line-height: 76rpx;
			color: #EE7F48;
			padding: 0 30rpx;
			background-color: #FFEDE2;
			align-items: flex-start;
			text-align: center;

			.title {
				color: #fff;
				margin-bottom: 12rpx;
				font-size: 34rpx;
			}
		}



		.grayBoxs {
			margin-top: 32rpx;
			background-color: #f5f5f5;
			padding: 30rpx;
			border-radius: 12rpx;
			font-size: 26rpx;

			.labels {
				color: #666;
				width: 164rpx;
				text-align: left;
			}
		}

		.carPics {
			width: 252rpx;
			height: 142rpx;
			margin-right: 42rpx;
		}

		.picsBox {
			flex-wrap: wrap;
			justify-content: space-between;

			// padding: 0 20rpx;
			.picsItems {
				width: 330rpx;
				margin-bottom: 16rpx;
				height: 190rpx;
				flex: 0 0  44%
			}

			.filtBox {
				width: 330rpx;
				height: 190rpx;
				background-color: #fdfdfd;
				border: 1rpx solid #eee;
			}

			.blankBox {
				width: 330rpx;
				height: 190rpx;
				border: 1rpx dashed #666;
				// margin-bottom: 16rpx;
			}
		}

		.feeBox {
			// flex-wrap: wrap;

			.label {
				color: #666;
				width: 200rpx;
				text-align: left;
			}

			.labelright {

				color: #666;
			}
		}

		.orderBox {
			// flex-wrap: wrap;

			.label {
				color: #666;
				width: 164rpx;
				text-align: left;
			}
		}

		.icons {
			width: 46rpx;
			height: 46rpx;
			margin-right: 16rpx;
		}

		.rows {
			line-height: 80rpx;
		}

		.rowsBot {
			border-top: 1rpx solid #f8f8f8;
			padding-top: 16rpx;
			margin-top: 16rpx
		}

		.label {
			font-weight: 400;
			font-size: 26rpx;
			color: #333;
		}


		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #fff;

			.footerBar {
				width: 100%;
				padding: 10rpx 20rpx;
			}

			.btns {
				margin-left: 16rpx;
			}
		}
	}
</style>
