<template>
	<view class="pages">
		 <view class="cm_boxs">
			 <u-cell-group title="基本参数">
			 	<u-cell-item :arrow="false" title="产商" :value="detail.car_facturer"></u-cell-item> 
				<u-cell-item :arrow="false" title="级别" :value="detail.car_level"></u-cell-item> 
				<u-cell-item :arrow="false" title="发动机" :value="detail.car_engine"></u-cell-item> 
				<u-cell-item :arrow="false" title="变速箱" :value="detail.car_vehicle"></u-cell-item> 
				<u-cell-item :arrow="false" title="长/高/宽(cm)" :value="detail.car_size"></u-cell-item> 
				<u-cell-item :arrow="false" title="轴距(mm)" :value="detail.car_trunk"></u-cell-item> 
				<u-cell-item :arrow="false" title="行李箱容积()" :value="detail.car_capacity"></u-cell-item> 
			 </u-cell-group>
		</view>
		<view class="cm_boxs">
		<u-cell-group title="发动机参数">
			<u-cell-item :arrow="false" title="排量(L)" :value="detail.car_engine"></u-cell-item> 
			<u-cell-item :arrow="false" title="进气形式" value="--"></u-cell-item> 
			<u-cell-item :arrow="false" title="气缸数" :value="detail.car_max_torque"></u-cell-item> 
			<u-cell-item :arrow="false" title="最大马力(Ps)" :value="detail.car_facturer"></u-cell-item> 
			<u-cell-item :arrow="false" title="最大扭矩(N*m)" :value="detail.car_cylinders_num"></u-cell-item> 
			<u-cell-item :arrow="false" title="燃料类型" :value="detail.car_energy"> </u-cell-item>
			<u-cell-item :arrow="false" title="燃油标号" value="--"></u-cell-item> 
			<u-cell-item :arrow="false" title="供油方式" value="-- "></u-cell-item> 
		</u-cell-group>
		</view>
 
	</view>
</template>

<script>
	export default {
		data() {
			return {
				banners: [ ],
				detail:null,
				id:''
			};
		},
		onLoad(options){
			let id = options.id
			this.id = id
			this.loadData(id) 
		},
		methods:{
			async loadData(id){
				// debugger
					this.$ui.showloading()
					try{
						
						const res  = await this.$api.Business.GetSellCarDetail({car_code:id})
						// debugger
						console.log(res)
						this.detail = res
						// debugger
						let str = res.car_banner_img.replace(/\'/g,'\"')
						// debugger
						this.banners = JSON.parse(str)  
						this.detail = res
					}catch(e){
						//TODO handle the exception
						console.log(e)
						// debugger
					}
					this.$ui.hideloading()
			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 150rpx;
		.title{
			margin: 16rpx 0;
		}
		.tipsBox{
			background-color: #FFF4EA;
			color: #A5590A;
			height: 58rpx;
			line-height: 58rpx;
			border-radius: 6rpx;
			margin-top: 32rpx;
			padding: 0 24rpx;
		}
		.configBox {
			flex-wrap: wrap;
		
			.configItems {
				width: 50%;
				line-height: 70rpx;
				.labels {
					color: #666;
					width: 164rpx;
					text-align: left;
				}
			}
		}
		.currentBox{
			flex-wrap: wrap;
			justify-content: space-between;
			.configItems {
				width: 310rpx;
				line-height: 70rpx;
					
				// padding-right: 36rpx;
				.labels {
					color: #666;
					text-align: left;
				}
				.good{
					color: #58AD3B;
				}
				.waring{
					color: #EE7F48;
				}
				.error{
					color: red;
				}
			}
		}
		.boxFooter{
			margin-top: 16rpx;
			padding-top: 25rpx;
			text-align: center;
			color: #EE7F48;
			border-top: 1rpx solid #f4f4f4;
		}
		.mapBox{
			.addressLogo{
				width: 150rpx;
				height: 150rpx;
				margin-right: 24rpx;
			}
			.cm_text{
				margin-bottom: 16rpx;
			}
		}
		.preview{
			width: 100%;
		}
		
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #fff;
		
			.actions {
				width: 98rpx;
				height: 98rpx;
			}
		
			.icons {
				width: 36rpx;
				height: 36rpx;
			}
		}
	}
</style>
