<template>
	<view class="pages">
		<view class="banner">
			<u-swiper :border-radius="0"  name="Text" mode="number" indicator-pos="bottomRight" :list="banners" @click="click"
				:effect3d="false" :height="500"></u-swiper>
		</view>
		<view class="cm_boxs">
			<!-- <view class="u-flex">
				<text class="cm_price_tip">{{detail.price}}</text>
				<view class="f1"></view> -->
				<!-- <image src="" mode="aspectFill"></image> -->
				<!-- <u-icon name="zhuanfa" color="#333" size="50"></u-icon> -->
			<!-- </view> -->
			<view class="cm_title title" style="margin-top: 16rpx;">{{detail.site_name}}</view>
			<view class="cm_text">{{detail.site_address}}</view>
		 
		</view>
		 
		
		<view class="cm_boxs u-flex mapBox"  >
			<image :src="detail.site_logo" mode="aspectFill" class="addressLogo"></image>
			<view class="f1">
				<view class="cm_title title">{{detail.site_name}}</view>
				<view class="cm_text">{{detail.site_address}}</view>
				<view class="cm_time">营业时间:{{detail.sale_time}}</view>
			</view>
			<view class="u-flex-y" @click="locaTo" style="padding:0 30rpx">
				<u-icon name="map" color="#666" size="50"  ></u-icon>
				<text class="cm_text" style="margin-top: 16rpx;" >导航</text>
			</view>
		</view>
		
		<view class="cm_boxs" v-if="detail.show_merchant_distance && detail.show_merchant_distance.length>0">
			 <view>--套餐详情--</view>
			<view>
				<image v-for="(item,index) in detail.show_merchant_distance" :src="item.src" mode="widthFix"></image>
			</view>
			
		</view>
		<view class="footer saveBottom">
			<view style="padding:10rpx 20rpx">
				<u-button @click="_call(detail.site_mobile)" shape="circle" class="f1" type="primary">立即致电</u-button>
			</view>
			
		</view>
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	export default {
		data() {
			return {
				baseKey: 'GetBeautySite',
				banners: [ ],
				detail:null,
				id:'',
				formParams: {
					longitude: '',
					latitude: '',
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
			};
		},
		computed: {
			...mapState({
				// 箭头函数使代码更简练 
				location: state => state.rent.location,
			}),
		 
			 
		},
		
		onLoad(options){
			let id = options.id
			this.id = id
			// this.formParams.latitude = this.location.latitude || 0;
			// this.formParams.longitude = this.location.longitude || 0
			// this._loadData('refresh')
			this.loadData(id) 
		},
		methods:{
			locaTo(){
				let  that  = this
				const latitude = that.detail.latitude;
				const longitude = that.detail.longitude;
				uni.openLocation({
				    latitude: latitude,
				    longitude: longitude,
				    success: function () {
				        console.log('success');
				    }
				});
			},
			async loadData(id){
				// debugger
					this.$ui.showloading()
					try{
						
						const res  = await this.$api.Business.GetBeautyCarDetail({site_code:id})
						// debugger
						console.log(res)
						this.detail = res
						// debugger
						let str = res.site_banner_img.replace(/\'/g,'\"')
						// debugger
						this.banners = JSON.parse(str)  
						this.detail = res
					}catch(e){
						//TODO handle the exception
						console.log(e)
						// debugger
					}
					this.$ui.hideloading()
			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 150rpx;
		.title{
			margin: 16rpx 0;
		}
		.tipsBox{
			background-color: #FFF4EA;
			color: #A5590A;
			height: 58rpx;
			line-height: 58rpx;
			border-radius: 6rpx;
			margin-top: 32rpx;
			padding: 0 24rpx;
		}
		.configBox {
			flex-wrap: wrap;
		
			.configItems {
				width: 50%;
				line-height: 70rpx;
				.labels {
					color: #666;
					width: 164rpx;
					text-align: left;
				}
			}
		}
		.currentBox{
			flex-wrap: wrap;
			justify-content: space-between;
			.configItems {
				width: 310rpx;
				line-height: 70rpx;
					
				// padding-right: 36rpx;
				.labels {
					color: #666;
					text-align: left;
				}
				.good{
					color: #58AD3B;
				}
				.waring{
					color: #EE7F48;
				}
				.error{
					color: red;
				}
			}
		}
		.boxFooter{
			margin-top: 16rpx;
			padding-top: 25rpx;
			text-align: center;
			color: #EE7F48;
			border-top: 1rpx solid #f4f4f4;
		}
		.mapBox{
			.addressLogo{
				width: 150rpx;
				height: 150rpx;
				margin-right: 24rpx;
			}
			.cm_text{
				margin-bottom: 16rpx;
			}
		}
		.preview{
			width: 100%;
		}
		
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #fff;
		
			.actions {
				width: 98rpx;
				height: 98rpx;
			}
		
			.icons {
				width: 36rpx;
				height: 36rpx;
			}
		}
	}
</style>
