<template>
	<view class="pages">
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<view v-else class="animated fadeIn">
			<View v-if="trigger" class="myself" @tap.stop="()=>{_choose(null)}">
				本人
			</View>
			<view class="item" :index="index" v-for="(res, index) in lists" :key="res.lessee_code">
				<!-- <u-swipe-action :show="res.show"  @click="click" :options="options"> -->
				<view class="cells flex flex_center">
					<view class="top f1 flex flex_center" @tap.stop="()=>{_choose(res)}">
						<view class="name">{{ res.user_name }}</view>
						<view class="f1"></view>
						<view class="phone">{{ res.mobile }} </view>
					</view>
					<view class="action flex flex_y flex_center " @tap="_delete(res.lessee_code)">
						<u-icon name="trash" :size="42" color="#EE7F48"></u-icon>
					</view>
				</view>
				<!-- </u-swipe-action> -->
			</view>

		</view>
		<view class="addSite">
			<!-- view class="add">
				<u-icon name="plus" color="#ffffff" class="icon" :size="30"></u-icon>新建收货承租人
			</view> -->
			<u-button @click="toAddSite" :custom-style="{width:'100%'}" shape="circle" type="primary">
				<u-icon name="plus" color="#ffffff" class="icon" :size="30"></u-icon>新建承租人
			</u-button>
		</view>
		<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'GetLesseeList',
				// hasRow: 'Rows',

				siteList: [],
				options: [
					// {
					// 	text: '默认',
					// 	style: {
					// 		backgroundColor: '#007aff'
					// 	}
					// },
					{
						text: '删除',
						style: {
							backgroundColor: '#dd524d'
						}
					}
				],
				trigger: '',
				formParams: {
					pageSize: 10,
					pageIndex: 1
				}
			};
		},
		onLoad(options) {
			this.trigger = options.trigger
		},
		onShow() {
			// this.getData();
			this._loadData('refresh')
		},
		methods: {
			async _loadData(type) {
				let that = this;
				if (type == 'add') {
					that.loadStatus = 'loading';
				} else {
					that.loadStatus = 'loading';
					uni.stopPullDownRefresh();
				}
				try {
					let res = await this.$api.Business[this.baseKey](this.formParams)
					console.log(res);

					if (type == 'add') {
						// 加载更多
						if (that.hasRow) {
							that.lists = that.lists.concat(res[that.hasRow]);
							if (res[that.hasRow].length < that.formParams.pageSize) {
								that.loadStatus = 'noMore';
								// 没有数据了
							} else {
								that.loadStatus = 'more';
							}
						} else {
							that.lists = that.lists.concat(res);
							if (res.length < that.formParams.pageSize) {
								that.loadStatus = 'noMore';
								// 没有数据了
							} else {
								that.loadStatus = 'more';
							}
						}
					} else {
						// 刷新
						if (that.hasRow) {
							that.lists = res[that.hasRow];
							if (res[that.hasRow].length < that.formParams.pageSize) {
								that.loadStatus = 'noMore';
								// 没有数据了
							} else {
								that.loadStatus = 'more';
							}

						} else {
							that.lists = res
							if (res.length < that.formParams.pageSize) {
								that.loadStatus = 'noMore';
								// 没有数据了
							} else {
								that.loadStatus = 'more';
							}
						}
						that.refreshing = false
					}
					that.pageLoading = false
				} catch (err) {
					console.log('请求结果false : ' + err);
					that.loadStatus = 'more';
					that.loadDataComplete(false)
					that.pageLoading = false
				}
			},

			_choose(item) {
				// debugger
				if (this.trigger) {
					uni.$emit(this.trigger, item);
					uni.navigateBack()
				}
			},

			toAddSite() {
				uni.navigateTo({
					url: '/pages/features/lesseeUser/addLessees'
				});
			},
			async setDefault(code) {
				let that = this;
				try {
					that.$ui.showloading()
					let res = await that.$api.Business.DefaultAddress({
						lessee_code: code
					})
					console.log(res);
					that.$ui.hideloading()
					that.$refs.uTips.show({
						title: '已修改默认承租人',
						type: 'success',
						duration: '1000'
					})
					that.lists = []
					that._loadData('refresh’')
					// console.log( '请求结果success : ' + JSON.stringify(res))
				} catch (err) {
					console.log('请求结果false : ' + err)
					that.loading = false
				}
			},
			async _delete(code) {
				let that = this;
				// debugger
				try {
					that.$ui.showloading()
					let res = await that.$api.Business.RelieveLessee({
						lessee_code: code
					})
					console.log(res);
					that.$ui.hideloading()
					that.$refs.uTips.show({
						title: '删除成功',
						type: 'success',
						duration: '1000'
					})
					that.lists = []
					that._loadData('refresh’')
					// console.log( '请求结果success : ' + JSON.stringify(res))
				} catch (err) {
					console.log('请求结果false : ' + err)
					that.loading = false
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding: 20rpx;
		padding-bottom: 120rpx;
	}

	.myself {
		line-height: 100rpx;
		margin-bottom: 20rpx;
		width: 100%;
		text-align: center;
		color: #fff;
		background-color: $uni-color-primary;
		border-radius: 10rpx;
	}

	.item {
		// padding: 40rpx 20rpx ;
		// padding-bottom: 80rpx;
		margin-bottom: 16rpx;
		background-color: #fff;

		border-radius: 10rpx;
		overflow: hidden;

		.cells {
			// padding:40rpx 20rpx;
			// border: 1px solid $uni-color-primary;
			border-radius: 20rpx;
			height: 140rpx;
			overflow: hidden;

			.action {
				width: 120rpx;
				height: 120rpx;
				border-left: 1rpx dashed #eee;

			}
		}

		.top {
			display: flex;
			font-weight: bold;
			font-size: 34rpx;
			padding: 0 30rpx;
			height: 120rpx;

			.phone {
				margin-left: 60rpx;
			}

			.tag {
				display: flex;
				font-weight: normal;
				align-items: center;

				text {
					display: block;
					min-width: 60rpx;
					padding: 0 20rpx;
					height: 34rpx;
					line-height: 34rpx;
					color: #ffffff;
					font-size: 20rpx;
					border-radius: 6rpx;
					text-align: center;
					margin-left: 30rpx;
					background-color: rgb(49, 145, 253);
				}

				.red {
					background-color: red
				}

				.green {
					background-color: #4CD964
				}
			}
		}

		.bottom {
			display: flex;
			margin-top: 20rpx;
			padding-top: 20rpx;
			font-size: 28rpx;
			justify-content: space-between;
			color: #999999;
			border-top: 1rpx dashed #eee;
		}
	}

	.addSite {
		// display: flex;
		// justify-content: space-around;
		width: 100%;
		line-height: 88rpx;
		position: fixed;
		bottom: 0;
		left: 0;
		// background-color: red;
		// border-radius: 60rpx;
		font-size: 30rpx;

		padding: 0 30rpx;
		padding-bottom: 40rpx;

		// height: 88rpx;
		.add {
			display: flex;
			align-items: center;
			color: #ffffff;

			.icon {
				margin-right: 10rpx;
			}
		}
	}
</style>
