<template>
	<view class="pages">
		<view class="header" :style="{top:pageFixTop}">
			<u-tabs :list="tabs" bg-color="#fff" active-color="#EC6633" bar-active-color="#EC6633" :is-scroll="false"
				:current="currentTab" @change="change"></u-tabs>
		</view>
		<view class="cm_full u-flex-y" v-if="lists.length<=0  ">
			<u-empty mode="order"></u-empty>
		</view>
		<view class="listBoxs" v-else>
			<block v-for="(item,index) in  lists" :key="index">
				<view class="orderItemsBox u-flex " @click="_nav(item)">
					<!-- <view style="margin-right: 20rpx;">
						
						<u-icon name="plus-circle-fill" color="#EE7F48" size="30"></u-icon> 
						<u-icon name="plus-circle" color="#999" size="30"></u-icon> 
					</view>	 -->
					<view class="f1">
						<view class="u-flex orderheader">
							<view class="">扣<text style="color: #EE7F48;">{{item.points_num}}</text>分</view>
							<view style="margin-left: 30rpx;">罚款<text style="color: #EE7F48;">{{item.fine_money}}</text>元</view>
							<view class="f1"> </view>
							<text>{{item.status | rules_statusFilter}}</text>
						</view>
						<view class=" carBox">
							<view class="title">{{item.penalty_name}}</view>
							<view class="cm_text">{{item.penalty_add}}</view>
							<view class="">违章时间：{{item.penalty_time}}</view>
						</view>
					</view>
					
					
				</view>
			</block>

			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>
		</view>

		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
		<!-- <view class="footer saveBottom">
			<view class="flex footerBar">
				<view class="">扣<text style="color: #EE7F48;">6</text>分</view>
				<view style="margin-left: 30rpx;">罚款<text style="color: #EE7F48;">6</text>元</view>
				<view class="f1"></view> 
				<u-button shape="circle" class="btns" @click="_nav" type="primary">
					立即处理</u-button>
			</view>
		</view> -->
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'GetRulesList',
				hasRow: 'rows',
				formParams: {
					"penalty_type": '',//’‘待处理   0-自行处理 1-其它处理
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				tabs: [{
						name: '待处理',
						value:''
					},
					{
						name: '自行处理',
						value:0
					}, {
						name: '其他处理',
						value:1
					}, 
				],
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: '',
				currentTab: 0,
				lists: [ ]
			};
		},
		filters: {
			time(val) {

				return val.split(' ')[0]
			},
			study(val) {
				// console.log(val)
				let s = parseInt(val);
				return s
			}
		},
		onLoad(options) {
			let that = this
			this._loadData('refresh')
			uni.$emit('violation_refresh',()=>{
				that._loadData('refresh')
			})
		},
		onUnload(){
			uni.$off('violation_refresh')
		},
		methods: {
			_nav(item){
				uni.navigateTo({
					url:`/pages/center/violationDetail/violationDetail?id=${item.penalty_code}`
				})
			},
			change(index) {
				this.currentTab = index;
				this.formParams.penalty_type = this.tabs[index].value;
				// this.lists = [];
				this._loadData('refresh')
			},

			async _agreeRefund(needEms) {
				// alert(needEms)
				let that = this;
				if (needEms && !this.ems_code) {
					this.$ui.toast('请输入物流单号')
					return;
				}
				this.refundModal = false
				try {
					// this.$ui.showloading();	
					let data = {
						order_code: this.currentCode
					}
					if (needEms) data.ems_code = this.ems_code
					let res = await this.$api.ApplyRefund(data, false);
					// this.$ui.hideloading();
					if (res.Success) {

						that.$ui.toast('退货申请成功')
						setTimeout(() => {
							// that._loadData('refresh');
							that._refresh()
						}, 1000)
					} else {
						that.$ui.toast(res.Msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			async _sure() {
				let that = this;
				try {
					// this.$ui.showloading();	
					let data = {
						order_code: this.currentCode
					}
					let res = await this.$api.Receiving(data, false);
					// this.$ui.hideloading();
					if (res.Success) {

						that.$ui.toast('收货成功')
						setTimeout(() => {
							that._refresh()
						}, 1000)
					} else {
						that.$ui.toast(res.Msg)
					}
					if (callback) callback();
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			async _cancel() {
				let that = this;
				try {
					// this.$ui.showloading();	
					let data = {
						order_code: this.currentCode
					}
					let res = await this.$api.CancelOrder(data, false);
					// this.$ui.hideloading();
					if (res.Success) {

						that.$ui.toast('取消成功')
						setTimeout(() => {
							// that._loadData('refresh');
							that._refresh()
						}, 1000)
					} else {
						that.$ui.toast(res.Msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding-top: 80rpx;
		padding-bottom: 180rpx;

		.header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;
			z-index: 10;
		}

		.listBoxs {
			// padding: 32rpx;
			width: 100%;
			padding: 0  30rpx;
			
			.orderItemsBox {
				border-radius: 16rpx;
				background-color: #fff;
				padding: 30rpx;
				margin-top: 16rpx;
				.orderheader{
					border-bottom: 1rpx solid #f4f4f4;
					padding-bottom: 24rpx;
				}
				.carBox{
					padding-top: 16rpx ;
					line-height: 2.6;
					.title{
						font-size: 28rpx;
						color: #333;
						font-weight: bolder;
					}
				}	
				
				.icons{
					width: 28rpx;
					height: 28rpx;
					border-radius: 4rpx;
					color: #fff;
					line-height: 28rpx;
					text-align: center;
					margin-right: 16rpx;
					font-size: 20rpx;
				}
				.qu{
					background-color:#EE7C33 ;
				}
				.huan{
					background-color:#55B7B7 ;
				}
				.text {
					line-height: 40rpx;
				}
				.timeBox{
					// padding: 40rpx 0;
					height: 100rpx;
					.title{
						color: #333;
						font-size: 34rpx;
						font-weight: 600;
					}
					.line{
						margin:0 20rpx;
						height: 40rpx;
						line-height: 40rpx;
						border-bottom: 1rpx solid  #999;;
						padding: 0 20rpx;
						font-size: 24rpx;
						color: #999;
					}
				}
				.orderFooter{
					margin-top: 20rpx;
					.btns{
						margin-left: 16rpx;
					}
				}
			}

			// background-color: #fff;

			// margin-top: 20rpx;

		}
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #fff;
			.footerBar{
				padding: 16rpx  20rpx;
			}
			.btns {
				margin-left: 16rpx;
			}
		}
	}
</style>
